@charset "UTF-8";
/*------------------------- jobs ------------------------------ */
/*----- Tabs -----*/
.tabs {
	max-width: 760px;
	width: 100%;
	display: inline-block;
	margin: 60px auto;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}
.tab-links {
	margin: 0 auto 30px auto;
	padding: 0;
	text-align: center;
}
.tab-links li {
	margin: 0 15px;
	display: inline-block;
	list-style: none;
	list-style-type: none;
}
.tab-links a {
	display: block;
	color: #FFF;
	transition: all linear 0.15s;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #D5C8E2;
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.4;
}

.tab-links li:nth-child(1) a{
	background-image: url(../images/jobs/ic_inspire.svg);
}

.tab-links li:nth-child(2) a{
	background-image: url(../images/jobs/ic_nuturecreativity.svg);
}

.tab-links li:nth-child(3) a{
	background-image: url(../images/jobs/ic_getjobdone.svg);
}

.tab-links li:nth-child(4) a{
	background-image: url(../images/jobs/ic_behuman.svg);
}

.tab-links li.active span {
	color: #242424;
}
.tab-links li span {
	display: block;
	width: 80px;
	margin: 15px auto 0 auto;
	font-size: 14px;
	font-weight: 400;
}
.tab-links li:hover a{
	background-color: #D5C8E2;
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
.tab-links a:hover {
	text-decoration: none;
	color: #FFF;
}

li.active a{
	background-color: #553285;
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}
li.active a, li.active a:hover {
	color: #FFF;
}
/*----- Content of Tabs -----*/
.tab-content {
	padding: 35px 25px;
	border-radius: 3px;
	background-color: #fff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
}

.tab-content  h3, 
.tab-content  p{
}

.tab-content  h3{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #565656;
	margin: 0 0 10px 0;
	text-transform: capitalize;
}

.tab-content  p{
	font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 1.8em;
	font-weight: 300;
}

.tab {
	display: none;
}
.tab.active {
	display: block;
}


/*----- colourtabs ------ */
div.colourtabs{
	background: #573d7d; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(45deg, #472e6b 25%, #8755d0 100%);
	background-image: -moz-linear-gradient(45deg, #472e6b 25%, #8755d0 100%);
	background-image: -o-linear-gradient(45deg, #472e6b 25%, #8755d0 100%);
	background-image: -ms-linear-gradient(45deg, #472e6b 25%, #8755d0 100%);
	background-image: linear-gradient(45deg, #472e6b 25%, #8755d0 100%);
}

div.colourtabs h1{
	color: #FFF;
	/*background-color: #8B00DA;*/
}

div.colourtabs  h3{
	color:  #DDA1FF;
}

div.colourtabs ul{
	margin: 50px 0 ;
	padding: 0;
	overflow: hidden;
}

div.colourtabs li{
	width: 25%;
	float: left;
	display: inline-block;
	list-style: none;
	list-style-type: none;
	/*padding-bottom: 10000px;
    margin-bottom: -10000px;*/
}

div.colourtabs li span{
	font-size: 14px;
	font-weight: 400;
	margin-top: 40px;
	text-transform: uppercase;
}

div.colourtabs li span,
div.colourtabs li p{
	padding: 0 20px;
	color: #FFF;
	display: block;
}

div.colourtabs li p{
	min-height: 200px;
	font-family: 'Roboto Slab', serif;
    font-size: 14px;
    line-height: 1.8em;
    font-weight: 300;
	margin-bottom: 40px;
	color: #c9c3e0;  /* #dbbeec */
}

/*div.colourtabs li:nth-child(1){
	background-color:  #bf4eff;
}

div.colourtabs li:nth-child(2){
	background-color:  #a300ff;
}

div.colourtabs li:nth-child(3){
	background-color: #7400b6 ;
}

div.colourtabs li:nth-child(4){
	background-color: #550085 ;
}*/

div.colourtabs li div.jobs-icon{
	background-size:  200px 200px;
	background-repeat: no-repeat;
	background-position: center center;
	height: 260px;
	content: "";
	display: block;
}

div.colourtabs li:nth-child(1) div.jobs-icon{
	background-image: url(../images/jobs/ic_inspire.svg);
}

div.colourtabs li:nth-child(2) div.jobs-icon{
	background-image: url(../images/jobs/ic_nuturecreativity.svg);
}

div.colourtabs li:nth-child(3) div.jobs-icon{
	background-image: url(../images/jobs/ic_getjobdone.svg);
}

div.colourtabs li:nth-child(4) div.jobs-icon{
	background-image: url(../images/jobs/ic_behuman.svg);
}
