html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}
.index {
	/*position: relative;*/
}

.first {
	width: 100%;
	height: 800px;
	background-color: #42aaf4;
	margin-bottom: 40px;
	box-sizing: border-box;
	/*position: absolute;*/
}
.navbar {
	width: 100%;
	height: 80px;
	position: fixed;
	/*position: absolute;*/
	background-color: #f4f9fc;
	z-index: 999;
}

.main {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
	color:white;
	padding: 150px;
	box-sizing: border-box;
}

#wrapper {
	width: 100%;
	/*height: 100%;*/
	background-color: white;
	box-sizing: border-box;
	/*overflow: auto;*/
	overflow: hidden;
	position: relative;
	/*top: 800px;*/

}

.second {
	width: 100%;
	height: 800px;
	background-color: #60d69f;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*z-index: 99;*/

}

#text {
	opacity: 0;
	/*transform: translateY(50px);*/
	transition: all 1s ease;
}

.third {
	width: 100%;
	height: 800px;
	background-color: #ce9150;
	margin-bottom: 40px;

}
#text.fade-in {
	opacity: 1;
	/*transform: translateY(0);*/
}

.fixed {
	position: fixed;
}

