@charset "UTF-8";

/*------------- [ Case Study ] ---------------*/

.other-stories h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #565656;
    font-size: 44px;
}
article {
    max-width: 100%;
    width: 800px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    line-height: 2em;
    font-size: 20px;
}

/*steps taken */
.steps-taken{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	list-style: none;
	list-style-type: none;
}
.steps-taken li{
	margin: 0 0 20px 0;
	padding: 0 0 0 30px;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 0 3px;
}

.steps-taken.text-lightblue li{
	background-image: url(../images/ic_tick_raa_exploration.svg);
}

.steps-taken.timesheet-security li{
	background-image: url(../images/ourwork/hca/ic_tick_hca_timesheetsecurity.svg);
	color: #565656;
}

.steps-taken.bart li{
	background-image: url(../images/ourwork/coopers/ic_tick_bart.svg);
	color: #c5c5c5;
}
.grey4 .steps-taken.bart li{
	background-image: url(../images/ourwork/coopers/ic_tick_bart.svg);
	color: #565656;
}

.steps-taken.text-grey li{
	background-image: url(../images/ic_tick_bart.svg);
}

.steps-taken.text-darkgrey li{
	background-image: url(../images/ic_tick_raa_development.svg);
}

.gradient-lilacspurple .steps-taken li{
	background-image: url(../images/ourwork/hca/ic_tick_hca_exploring.svg);
}


.gradient-darkred .steps-taken li{
	background-image: url(../images/ourwork/wah/ic_tick_wah.svg);
}
/*------------------[Info] -------------------*/

div.info {
	display: block;
	width: 290px;
	min-height: 210px;
	height: auto !important ;
	height: 210px;
	margin: 0 auto;
	line-height: 1.8em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.info-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
}
div.intro-left h4 {
	font-weight: 400;
	color: #AAA;
	margin: 0 0 10px 0;
}
div.intro-left h4:after {
	width: 55px;
	height: 5px;
	display: block;
	content: '';
	margin: 5px 0 0 0;
	border-bottom: 2px solid #AAAAAA;
}
div.info h4 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
}
div.intro-left h3 {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	margin: 0;
	color: #575656;
	font-size: 24px;
	margin-top: 10px;
}
div.info-icon {
	max-height: 170px;
}

ul#laying-foundation div.info-icon svg,
ul.challengesolutionresults div.info-icon svg
{
	height: 130px;
	width: 130px;
	margin: 0 auto;
}

/* hca */

ul#laying-foundation{
	color: #242424;
}

ul#laying-foundation h4,
ul.challengesolutionresults h4{
	font-size: 26px;
	font-weight: 900;
	margin-bottom: 20px !important;
}

ul#laying-foundation div.info-text,
ul.challengesolutionresults div.info-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}
/*-------------[project intro]----------------*/
div.project-intro {
	padding: 80px 0;
	min-height: 140px;
	height: auto !important ;
	height: 140px;
}
div.intro-left {
	float: left;
	width: 400px; /* 360px */
}
div.intro-right {
	float: right;
	width: 550px;
}

/*-------------[gradients]----------------*/

.gradient h1,
.gradient h2,
.gradient h3{
	color: #FFFFFF;
}

.gradient .project-twocolumns p,
.gradient div.project-twocolumnwide p,
.casestudy p,
#timesheets p{
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.5em;
    font-size: 20px;
}

.gradient-red h4,
.gradient-red a.casestudy-link{/*cca*/
	color: #ffd1de;
}

.gradient-orange h4,
.gradient-orange a.casestudy-link{/*brewart*/
	color: #ffd1de;
}

.gradient-grey h4, .gradient-grey a.casestudy-link{/*raa*/
	color: #fff502;
}
.gradient-green h4{/*wah*/
	color: #55EC55;
}
.gradient-green a.casestudy-link{
	color: #55EC55; /* 9ff9f*/
}
.gradient-purpleblue h4{/*hca*/
	color: #ee76ee;
}
.gradient-purpleblue a.casestudy-link{
	color: #df8bff;
}
.gradient-bluepurple h4,
.gradient-bluepurple a.casestudy-link{ /*clipsal*/
	color: #addfff;
}

.gradient-orange h4,
.gradient-orange a.casestudy-link{ /*clipsal*/
	color: #ffd974;
}
.gradient-slategrey { /* BART */
	background: #524f64; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(45deg, #2b2934 0%, #383644 45%, #524f64 75%);
	background-image: -moz-linear-gradient(45deg, #2b2934 0%, #383644 45%, #524f64 75%);
	background-image: -o-linear-gradient(45deg, #2b2934 0%, #383644 45%, #524f64 75%);
	background-image: -ms-linear-gradient(45deg, #2b2934 0%, #383644 45%, #524f64 75%);
	background-image: linear-gradient(45deg, #2b2934 0%, #383644 45%, #524f64 75%);
}

.gradient-darkslate{
	background: #2b2934; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(180deg, #2b2934 0%,  #524f64 100%);
	background-image: -moz-linear-gradient(180deg, #2b2934 0%,  #524f64 100%);
	background-image: -o-linear-gradient(180deg, #2b2934 0%,  #524f64 100%);
	background-image: -ms-linear-gradient(180deg, #2b2934 0%,  #524f64 100%);
	background-image: linear-gradient(180deg, #2b2934 0%,#524f64 100%);
}

.gradient-orangecream{
	background: #f7e5cf; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(180deg, #f7e5cf 0%,  #ffffff 100%);
	background-image: -moz-linear-gradient(180deg, #f7e5cf 0%,  #ffffff 100%);
	background-image: -o-linear-gradient(180deg, #f7e5cf 0%,  #ffffff 100%);
	background-image: -ms-linear-gradient(180deg, #f7e5cf 0%,  #ffffff 100%);
	background-image: linear-gradient(180deg, #f7e5cf 0%,#ffffff 100%);
}
.gradient-orangecream h1,
.gradient-orangecream h3,
.gradient-orangecream h4{
	color: #000;
}

.gradient-orangecream p{
	color: #2d2e32;
}

.gradient-slategrey h3{
	color: #9a9a9a;
}

.gradient-bluespurple {/*exploration RAA*/
	background: #6f3fda; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(45deg, #43b6ef 0%, #277dd6 45%, #6f3fda 75%);
	background-image: -moz-linear-gradient(45deg, #43b6ef 0%, #277dd6 45%, #6f3fda 75%);
	background-image: -o-linear-gradient(45deg, #43b6ef 0%, #277dd6 45%, #6f3fda 75%);
	background-image: -ms-linear-gradient(45deg, #43b6ef 0%, #277dd6 45%, #6f3fda 75%);
	background-image: linear-gradient(45deg, #43b6ef 0%, #277dd6 45%, #6f3fda 75%);
}

.gradient-lilacspurple {/*exploration HCA*/
	background: #eadef6; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(180deg, #eadef6 0%,  #fcfafe 100%);
	background-image: -moz-linear-gradient(180deg, #eadef6 0%,  #fcfafe 100%);
	background-image: -o-linear-gradient(180deg, #eadef6 0%, #fcfafe 100%);
	background-image: -ms-linear-gradient(180deg, #eadef6 0%, #fcfafe 100%);
	background-image: linear-gradient(180deg, #eadef6 0%,  #fcfafe 100%);
}

.gradient-purple {/* HCA*/
	background: #532683; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(45deg, #532683 0%,  #75509a 100%);
	background-image: -moz-linear-gradient(45deg, #532683 0%,  #75509a 100%);
	background-image: -o-linear-gradient(45deg, #532683 0%, #75509a 100%);
	background-image: -ms-linear-gradient(45deg, #532683 0%, #75509a 100%);
	background-image: linear-gradient(45deg, #532683 0%,  #75509a 100%);
}

.gradient-darkred {/* WAH*/
	background: #cc3333; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(180deg, #cc3333 0%,  #9b2222 100%);
	background-image: -moz-linear-gradient(180deg, #cc3333 0%,  #9b2222 100%);
	background-image: -o-linear-gradient(180deg, #cc3333 0%, #9b2222 100%);
	background-image: -ms-linear-gradient(180deg, #cc3333 0%, #9b2222 100%);
	background-image: linear-gradient(180deg, #cc3333 0%,  #9b2222 100%);
}

.gradient-purple p{
	color: #dec9f6;
}

.gradient-darkslate p{
	color: #c5c5c5;
}

.gradient-purple a{
	color: #dec9f6;
	text-decoration: none;
}

.gradient-purple a:hover{
	color: #FFF;
	text-decoration: none;
}

.gradient-blackgrey {/*development HCA*/
	background: #232325; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(180deg, #232325 0%,  #3a393f 100%);
	background-image: -moz-linear-gradient(180deg, #232325 0%,  #3a393f 100%);
	background-image: -o-linear-gradient(180deg, #232325 0%, #3a393f 100%);
	background-image: -ms-linear-gradient(180deg, #232325 0%, #3a393f 100%);
	background-image: linear-gradient(180deg, #232325 0%,  #3a393f 100%);
}

.gradient-bluespurple p,
.gradient-bluespurple li{
	color: #CCF7FF;
}

.gradient-darkred p,
.gradient-darkred  li{
	color: #e8e3e4;
}

/* hovers */
.gradient-red:hover {/*cca*/
	cursor: pointer;
	background: rgba(251, 15, 54, 0.4); /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(130deg, rgba(251, 15, 54, 0.4) 30%, #f7abae);
	background-image: -moz-linear-gradient(130deg, rgba(251, 15, 54, 0.4) 30%, #f7abae);
	background-image: -o-linear-gradient(130deg, rgba(251, 15, 54, 0.4) 30%, #f7abae);
	background-image: -ms-linear-gradient(130deg, rgba(251, 15, 54, 0.4) 30%, #f7abae);
	background-image: linear-gradient(130deg, rgba(251, 15, 54, 0.4) 30%, #f7abae);
}
.gradient-grey:hover {/*raa*/
	cursor: pointer;
	background: rgba(28, 29, 33, 0.6); /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(130deg, rgba(28, 29, 33, 0.6) 30%, #4f5159);
	background-image: -moz-linear-gradient(130deg, rgba(28, 29, 33, 0.6) 30%, #4f5159);
	background-image: -o-linear-gradient(130deg, rgba(28, 29, 33, 0.6) 30%, #4f5159);
	background-image: -ms-linear-gradient(130deg, rgba(28, 29, 33, 0.6) 30%, #4f5159);
	background-image: linear-gradient(130deg, rgba(28, 29, 33, 0.6) 30%, #4f5159);
}
.gradient-green:hover {/*wah*/
	cursor: pointer;
	background: rgba(0,168, 80, 0.4); /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(130deg, rgba(0,168, 80, 0.4) 30%, #add461);
	background-image: -moz-linear-gradient(130deg, rgba(0,168, 80, 0.4) 30%, #add461);
	background-image: -o-linear-gradient(130deg, rgba(0,168, 80, 0.4) 30%, #add461);
	background-image: -ms-linear-gradient(130deg, rgba(0,168, 80, 0.4) 30%, #add461);
	background-image: linear-gradient(130deg, rgba(0,168, 80, 0.4) 30%, #add461);
}
.gradient-purpleblue:hover {/*hca*/
	cursor: pointer;
	background: rgba(157, 51, 157, 0.4); /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(130deg, rgba(157, 51, 157, 0.4) 30%, #76bfee);
	background-image: -moz-linear-gradient(130deg, rgba(157, 51, 157, 0.4) 30%, #76bfee);
	background-image: -o-linear-gradient(130deg, rgba(157, 51, 157, 0.4) 30%, #76bfee);
	background-image: -ms-linear-gradient(130deg, rgba(157, 51, 157, 0.4) 30%, #76bfee);
	background-image: linear-gradient(130deg, rgba(157, 51, 157, 0.4) 30%, #76bfee);
}
.gradient-bluepurple:hover { /*clipsal*/
	cursor: pointer;
	background: rgba(0, 160, 211, 0.4); /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(130deg, rgba(0, 160, 211, 0.4) 30%, #d24288);
	background-image: -moz-linear-gradient(130deg, rgba(0, 160, 211, 0.4) 30%, #d24288);
	background-image: -o-linear-gradient(130deg, rgba(0, 160, 211, 0.4) 30%, #d24288);
	background-image: -ms-linear-gradient(130deg, rgba(0, 160, 211, 0.4) 30%, #d24288);
	background-image: linear-gradient(130deg, rgba(0, 160, 211, 0.4) 30%, #d24288);
}
.gradient-orange:hover { /*brewart*/
	cursor: pointer;
	background: rgba(255, 221, 50, 0.4); /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(130deg, rgba(255, 221, 50, 0.4) 25%, #ff7200);
	background-image: -moz-linear-gradient(130deg, rgba(255, 221, 50, 0.4) 25%, #ff7200);
	background-image: -o-linear-gradient(130deg, rgba(255, 221, 50, 0.4) 25%, #ff7200);
	background-image: -ms-linear-gradient(130deg, rgba(255, 221, 50, 0.4) 25%, #ff7200);
	background-image: linear-gradient(130deg, rgba(255, 221, 50, 0.4) 25%, #ff7200);
}
/*---------- [project-half & our work] --------*/
div.ourwork-info {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px;
}

a.casestudy-link{
	font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 30px;
	text-decoration: none  ;
	cursor: pointer;
}

h3.casestudy-info{
	display: none;
}

.gradient-red:hover h3.casestudy-info,
.gradient-grey:hover h3.casestudy-info,
.gradient-green:hover h3.casestudy-info,
.gradient-purpleblue:hover h3.casestudy-info,
.gradient-bluepurple:hover h3.casestudy-info,
.gradient-orange:hover h3.casestudy-info{
	display: block;
	font-size: 16px;
	margin-top: 30px;
	font-weight: 300  ;
}

div.ourwork-half div.half-left h3.casestudy-info, 
div.ourwork-half div.half-right h3.casestudy-info,
div.ourwork-half div.ourwork-feature h3.casestudy-info{
	max-width: 310px;
}

div.project-half, 
div.ourwork-half {
	width: 100%;
	display: block;
}
div.ourwork-half {
	margin: 70px 0;
	text-align: left;
}
div.ourwork-half h3, 
div.ourwork-half h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
div.ourwork-half h3 {
	font-size: 22px;
	color: #FFF;
}
div.ourwork-half h4 {
	font-size: 14px;
}
div.ourwork-feature {
	overflow: hidden;
	margin: 0;
	position: relative;
	padding: 0 0 50% 0;
	width: 100%;
	background-repeat: no-repeat;
	/*background-position: top left;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}
div.ourwork-half div.half-left, 
div.ourwork-half div.half-right {
	overflow: hidden;
	margin: 0;
	position: relative;
	padding: 0 0 50% 0;
	background-repeat: no-repeat;
	/*background-position: top left;*/
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-ms-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	background-position: center center;
	text-align: left;
}
div.half-left {
	float: left;
	width: 50%;
	height: 100%;
}
div.half-right {
	float: right;
	width: 50%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.half-right h2, 
div.half-left h2 {
	margin: 0 auto;
	padding: 80px 105px;
	font-size: 28px;
	font-weight: 100;
	line-height: 1.6em;
	color: #9A9A9A  ;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.half-right p, 
div.half-left p {
	padding: 0 105px;
	font-size: 20px;
	font-weight: 100;
	color: #FFF  ;
	margin: 0 auto;
}
div.half-right img, 
div.half-left img {
	max-width: 720px;
	width: 100%;
	 height:auto !important;
}
.no-top-spacing {
	padding-top: 0  !important;
	margin-top: 0  !important;
}
.no-bottom-spacing {
	padding-bottom: 0  !important;
	margin-bottom: 0  !important;
}
.no-spacing {
	padding: 0  !important;
	margin: 0  !important;
}

/* fade in */

.fadeInBlock {
	opacity: 0;
	display: none;
}
.fadeInBlock.in {
	opacity: 1;
	-webkit-transition: opacity 1000ms;
	-moz-transition: opacity 1000ms;
	-o-transition: opacity 1000ms;
	-ms-transition: opacity 1000ms;
	transition: opacity 1000ms;
}
/*------------[case study feature]------------*/

div.feature-casestudy {
	display: block;
	width: 340px;
	/*height: 523px;*/
	min-height: 523px;
	height: auto !important ;
	height: 523px;
	line-height: 1.8em;
	text-align: left;
}
div.feature-casestudy-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	min-height: 260px;
	height: auto !important ;
	height: 260px;
	padding: 15px;
	background-color: #FFF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.feature-casestudy-text h4 {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
	color: #565656;
}
div.feature-casestudy-text p {
	min-height: 100px;
	display: block;
}
a.view-casestudy {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 700;
	color: #F16668;
	text-decoration: none;
}
div.feature-casestudy-image {
	min-height: 256px;
	background-color: #F1F1F1;
}
div.feature-casestudy-image a {
	text-indent: -9999px;
	display: block;
	min-height: 256px;
	width: 100%;
}
div.casestudy1 {
	background-image: url(../images/img_casestudy1.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
div.casestudy2 {
	background-image: url(../images/img_casestudy2.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
div.casestudy3 {
	background-image: url(../images/img_casestudy3.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
div.casestudy4 {
	background-image: url(../images/img_casestudy4.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
div.casestudy5 {
	background-image: url(../images/img_casestudy5.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
a.view-casestudy:after {
	margin: 0 0 0 15px;
	color: #9A9A9A;
	content: '\2192';
}
/*------------[Project/Case Study]------------*/

.app-icon {
	margin: 20px 10px;
}
div#project-hero, 
div.project-feat {
	text-align: center;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
div.project-animated {
	height: 450px;
	text-align: center;
}
div#project-hero img, 
div.project-feat img {
	max-width: 1440px;
	width: 100%;
	height:auto !important;
}
/* project center */
div.award h1 {
	color: #d2a532  ;
	margin: 25px 0;
}
div.award h3.award-name {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	color: #565656;
}

div.text-center {
	padding: 70px 0 0 0;
	min-height: 660px;
	height: auto !important ;
	height: 660px;
	text-align: center;
}

div.project-center {
	padding: 70px 0;
	min-height: 140px;
	height: auto !important ;
	height: 140px;
	text-align: center;
}
div.text-left {
	padding: 70px 0;
	min-height: 140px;
	height: auto !important ;
	height: 140px;
	text-align: left;
}
/* project features*/
p.client-name{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-size: 16px;
}
div.project-features {
	background-repeat: no-repeat;
	background-position: 0 0;
	min-height: 600px;
	height: auto !important ;
	height: 600px;
	color: #FFF;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 100;
	font-size: 22px;
	text-align: center;
	display: block;
}
div.project-features ul {
	list-style-type: none;
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 40px 0 0 0;
}
div.project-features li::before {
	content: "\2022 ";
	margin: 0 15px 0 0;
}
div.project-features li {
	margin: 0 0 20px 0;
}
div.project-features p {	
}

div.project-features.cca-feat {
	background-image: url(../images/ourwork/cca/img_hero_cca4.jpg);
	padding-top: 70px;
}
div.project-features.cca-feat div.project-features ul {
	padding: 20px 0 0 0;
}
div.project-features.cca-feat p {
	padding: 60px 0 0 0;
	margin: 0;
}
div.project-features.wah-feat {
	background-image: url(../images/ourwork/wah/img_hero_wah6.jpg);
	min-height: 350px;
	height: auto !important ;
	height: 350px;
	padding-top: 70px;
}

div.project-features.raa-feat{
	background-image: url(../images/ourwork/raa/myRAA_TestimonialBG.jpg);
	background-color: #2f3036;
	font-size: 26px;
	line-height: 2em;
	min-height: 460px;
	height: auto !important ;
	height: 460px;
}

div.project-features.wah-quote{
	background-image: url(../images/ourwork/wah/img_quote_wah1.jpg);
	background-color: #2f3036;
	font-size: 30px;
	line-height: 2em;
	min-height: 440px;
	height: auto !important ;
	height: 440px;
	background-position: bottom center;
}

div.project-features.wah-quote2{
	background-image: url(../images/ourwork/wah/img_quote_wah2.jpg);
	background-color: #2f3036;
	font-size: 28px;
	line-height: 2em;
	min-height: 460px;
	height: auto !important ;
	height: 460px;
	background-position: bottom center;
}

div.project-features.raa-feat ul{
	padding: 40px 80px;
}

/* project quote */
div.project-results {
	background-repeat: no-repeat;
	background-position: 0 0;
	min-height: 300px;
	height: auto !important ;
	height: 300px;
}
.quote-clipsal {
	background-image: url(../images/img_testimonial.jpg);
}
.quote-cca {
	background-image: url(../images/img_testimonial2.jpg);
}
.quote-wah {
	background-image: url(../images/img_testimonial3.jpg);
	min-height: 300px;
	height: auto !important ;
	height: 300px;
}
div.project-results .quote {
	padding: 140px 0;
}
div.project-results div.client-name, 
div.project-results div.client-title {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	padding: 0 0 10px 0;
}
div.project-results div.client-name {
	font-size: 22px;
	color: #FFF;
	padding: 50px 0 10px 0;
}
div.project-results div.client-title {
	font-size: 14px;
	color: #CA9EE8;
}
blockquote:before, 
blockquote:after {
	content: '"';
	height: 10px;
}
/* two columns / one column */

div.project-onecolumn {
	max-width: 830px;
	margin: 0 auto;
}

div.project-twocolumnwide {
	max-width: 940px;
	margin: 0 auto;
}
div.project-twocolumnwide p{
	font-size: 20px;
}

div.project-twocolumnwide h2{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 32px;
}

div.project-onecolumn h3.sub-header:after,
div.project-twocolumns h3.sub-header:after,
div.project-twocolumnwide h3.sub-header:after{
	width: 55px;
	height: 5px;
	display: block;
	content: '';
	margin: 3px auto 20px auto;
	border-bottom: 2px solid #AAAAAA;
}

div.project-twocolumns {
	max-width: 730px; 
	margin: 0 auto;
}
div.onecolumn{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.5em;
    font-size: 20px;
	max-width: 540px;
	margin: 0 auto;
}
div.onecolumnwide{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.8em;
	max-width: 730px;
	margin: 0 auto;
}
div.project-results blockquote {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	line-height: 1.6em;
	max-width: 800px;
	padding: 0;
	margin: 0 auto;
}
div.project-twocolumns p, 
div.project-twocolumnwide p{
	 font-family: 'Open Sans', sans-serif;
	font-style: normal;
	line-height: 1.8em;
}
div.project-twocolumns > li,
div.project-twocolumnwide  > li {
	margin: 0 0 10px 0;
}
div.project-twocolumns, 
div.twocolumns, 
div.project-onecolumn,
div.project-twocolumnwide{
	min-height: 50px;
	height: auto !important ;
	height: 50px;
	padding: 70px 0;
	text-align: center;
}
div.project-twocolumnwide h1,
div.project-twocolumns h1, 
div.project-onecolumn h1 {
	font-size: 70px;
}
div.project-onecolumn h3,
div.project-twocolumns h3,
div.project-twocolumnwide h3 {
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin: 0 0 10px 0;
	padding: 0;
}

div.project-onecolumn h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
}

/* columns */

div.column {
	min-height: 300px;
	height: auto !important ;
	height: 300px;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div.column-left-wide {
	float: left;
	width: 370px;
}
div.column-right-wide {
	float: right;
	width: 370px;
}

div.column-left-wider {
	float: left;
	width: 420px;
}
div.column-right-wider {
	float: right;
	width: 420px;
}

div.column-left-xwide {
	float: left;
	width: 640px;
}
div.column-right-xwide {
	float: right;
	width: 640px;
}

div.column-left-short {
	float: left;
	width: 300px;
}
div.column-right-short {
	float: right;
	width: 300px;
}

div.column-left-xshort {
	float: left;
	width: 250px;
}
div.column-right-xshort {
	float: right;
	width: 250px;
}

/* brewart */

div#bart-omnichannel-results,
div#bart-uxuen-results,
div#bart-summary{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 450px;
	height: auto !important ;
	height: 450px;
}

div#bart-omnichannel-results {
	background-image: url(../images/ourwork/coopers/img_omnichannel_results.jpg);
}

div#bart-uxuen-results {
	background-image: url(../images/ourwork/coopers/img_uxuen_results.jpg);
}

div#bart-summary{
	background-image: url(../images/ourwork/coopers/img_brewart_summary.jpg);
}


/* hca */

div#hca-results {
	background-image: url(../images/ourwork/hca/img_hca_results.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

div#hca-results .onecolumn{
	max-width: 420px;
}

div#results-wah{
	position: relative;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

div#results-wah .fullscreen-video{
	position: static;
	max-width: 900px;
	width: 100%;
}

/* owl carousel */

.owl-item.active > div:after {
  content: ' ';
}
.owl-item.center > div:after {
  content: ' ';
}
.owl-item.active.center > div:after {
  content: ' ';
}
.owl-item > div:after {
  display: inline-block;
} 

.owl-carousel{
	margin-bottom: 60px;
}

.owl-carousel .active.center {
	-moz-filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}

.owl-carousel .active,
.owl-carousel cloned.active {	
	-moz-filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	filter:grayscale(100%); 
}

.owl-nav.disabled{
	visibility:hidden;
	display: none;
}