@charset "UTF-8";
/* CSS Document 
-----------------------------------------------------
Enabled 2016
URL: http://www.enabled.com.au

Enabled http://www.enabled.com.au
Design by Josh Rogers and HTML/CSS by Nola Falk / Enabled Solutions

Last modified: Jul 11 2016
------------------------------------------------------ */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #9b9b9b;
	background-color: #DEDEDE;
}
.reduce {
	padding: 60px 0 0 0 !important;
}
body.index {
	padding: 60px 0 0 0 !important;
}
body.index div#wrapper {
	padding: 800px 0 0 0;
}
body.clip {
	overflow: hidden !important;
	position: fixed;
	width: 100%;
}
body.clip div#header {
	overflow: visible;
}
a {
	color: #553285;
	text-decoration: none;
	font-weight: 400;
}

h3 a {
	text-decoration: none;
	font-weight: 300;
}
a:hover {
	color: #5C388D;
}
a, a:hover, a:active, a:focus, object, embed, img, input, span, button {
	outline: 0 !important;
	border: 0;
}
img {
	width: auto\9; /* ie8 bug fix */
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
div.container {
	max-width: 1120px;
	width: 93%;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
br.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
}
ul:after, 
div:after, 
ul.four-columns:after, 
div.container:after, 
.ourwork-feature:after, 
ul.three-columns:after, 
div.project-onecolumn:after,
div.project-twocolumns:after, 
div.project-twocolumnwide:after,
div.faq:after,
div.project-half:after, 
div.ourwork-half:after, 
ul#filters:after {
	content: "";
	clear: both;
	display: table;
}
strong, b {
	font-style: normal;
	font-weight: 400;
}

p{
	margin: 0 0  10px 0;
}
/*------------ [Headings]------------*/
h1, h2, h3, h4, h5 {
	font-style: normal;
	line-height: 1em;
	margin: 0 0 25px 0;
	padding: 0;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #565656;
	font-size: 58px;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #9a9a9a;
	font-size: 34px;
}
h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #9a9a9a;
	font-size: 22px;
	line-height: 1.6em;
}
h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-size: 18px;
}
h5 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 12px;

}
div.project-center h2 {
	padding: 0 80px;
}
/*---------------[colours]-----------*/
.black{
	background-color: #000000;
}

.deepblack{
	background-color: #1e1d23;
}

.deepblack p{
	color: #9a9a9a !important;
}

.deepblack h1,
.deepblack h3{
	color: #e3e3e3 !important;
}
.dark-purple {
	background-color: #553285;
	color: #FFF !important;
}
.white {
	background-color: #FFF !important;
}
.dark-purple h1, 
.dark-purple h2, 
.dark-purple h3, 
.dark-grey h1, 
.dark-grey h2, 
.dark-grey h3,
.purple h1,
.purple h2, 
.purple h3,
.red h1,
.red h2, 
.red h3,
.mediumred h1,
.mediumred h2, 
.mediumred h3{
	color: #FFF !important;
}
.dark-grey h3 {
	font-weight: 100;
}
.dark-grey p {
	color: #9A9A9A !important;
}
.purple {
	background-color: #5C388D;
	color: #FFF !important;
}

.dark-grey {
	background-color: #322F32;
	color: #FFF !important;
}
.project-video.grey {
	padding: 70px 0;
}
.grey {
	background-color: #FAFAFA;
}
.grey2{
	background-color: #F6F6F6;
}
.grey3{
	background-color: #E9EAF3;
}
.grey4{
	background-color: #F4F4F4;
}
.blue-grey {
	background-color: #EFF0F7;
}

.mediumred {
	background-color: #da5653;
}
.red {
	background-color: #E03A3E;
}
.text-white {
	color: #FFF !important;
}
.text-red {
	color: #EA0921 !important;
}
.text-grey {
	color: #9F9F9F !important;
}
.text-lightgrey{
	color: #dddddd !important;
}
.text-darkgrey {
	color: #565656 !important;
}
.text-lightblue{
	color: #CCF7FF !important;
}
.text-royalblue{
	color: #346BD6 !important;
}
.text-yellow{
	color: #ffe600 !important;
}

/* embed youtube video */

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:0;
	height:0;
	overflow:hidden;
	margin: 50px 0;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*--------------[arrows]-------------*/

.circle-down-arrow {
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	border: 3px solid #997CC0;
	width: 40px;
	padding: 0;
	text-align: center;
}
a .circle-down-arrow {
	text-decoration: none;
}
a:hover .circle-down-arrow {
	background-color: #FFF;
	border: 3px solid #FFF;
}
.circle-down-arrow svg {
	fill: #997CC0;
	width: 25px;
	height: 15px;
	margin: 14px 0 0 0;
}
.circle-down-arrow:hover svg {
	fill: #553285;
}
/*-------------[Layout]--------------*/
div#wrapper {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	/*height: auto !important;
	height: 100%;  IE6: treated as min-height;
	min-height: 100%;
	position: relative;*/
	z-index: 1;
	background-color: #FFF;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
	padding: 100px 0 0 0;
}
div#wrapper.home {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	height: auto !important;
	height: 100%; /* IE6: treated as min-height; */
	min-height: 100%;
	position: relative;
	z-index: 1;
	background-color: #FFF;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}
div#content-holder {
	padding: 0;
}
div.read-more {
	text-align: center;
	padding: 140px 0 0 0;
	color: #FFF;
	opacity: 1;
	transition: opacity 1s linear;
	-moz-transition: opacity 1s linear;
	-webkit-transition: opacity 1s linear;
	-webkit-transition: padding 0.5s;
	-moz-transition: padding 0.5s;
	transition: padding 0.5s;
}
.fixed div.read-more {
	display: none;
	opacity: 0;
}
/*-------------------home---------------*/

div.welcome-title {
	padding: 170px 0 0 0;
}
div.welcome-title h1, div.welcome-title h3 {
	color: #FFF;
}
div.welcome-title h1 {
	font-size: 120px;
	line-height: 1em;
	margin: 0 0 35px 0;
}
.image-holder {
	margin: 70px 0;
}
.image-holder img.desktop {
	display: inline-block;
}
.image-holder img.mobile {
	display: none;
}
/*---------------header-----------------*/
div#header {
	background-color: #553285;
	max-width: 1440px;
	width: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	-webkit-transform: translateZ(0);/* Forces GPU rendering on mobile */
	-moz-transform: translateZ(0);/*    Forces GPU rendering on mobile */
	transform: translateZ(0);/*         Forces GPU rendering on mobile */
	overflow: hidden;
	z-index: 99;
	height: 100px;
}
.fullscreen-video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
}
div.header-content {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(133, 77, 163, 0.8) 30%), to(#553285));
	background-image: -webkit-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: -moz-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: -o-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: -ms-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
}
.hidden, .fixed .hero-slider {
	display: none !important;
}
.fixed div.header-content {
	background-image: none;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	height: 60px !important;
	overflow: hidden;
	background-image: none !important;
	/* RGBa with 0.95 opacity */
	background-color: rgba(85, 50, 134, 0.95) !important;
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2553286, endColorstr=#F2553286) !important;
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2553286, endColorstr=#F2553286)" !important;
}
.fixed div#top {
	padding: 13px 0 0 0;
}
div#header.home {
	height: 800px;
	background: url(../images/img_header.jpg) no-repeat top center fixed;
	-webkit-background-size: 1440px 800px;
	-moz-background-size: 1440px 800px;
	-o-background-size: 1440px 800px;
	background-size: 1440px 800px;
}
div#header.case-study {
	height: 100px; /*152*/
}
div#top {
	padding: 30px 0 0 0;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}
div#logo {
	float: left;
	width: 126px;
	height: 32px;
}
/*------------footer------------*/
div#footer {
	/*height: 152px;
	position: absolute;
	bottom: 0;*/
	padding-bottom: 30px;
	width: 100%;
	background-color: #FFF;
}
div#footer-logo {
	padding: 25px 0 0 0;
	float: left;
	width: 180px;
	height: 50px;
}
div#footer-contactinfo {
	padding: 45px 0 0 0;
	float: left;
	height: auto;
	font-size: 16px;
}
div#footer-buttons {
	padding: 30px 0 0 0;
	float: right;
	height: 45px;
}
/*----------[Buttons]---------------*/
.title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 44px;
	color: #555555;
	margin: 0 0 10px 0;
}
.sub-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-style: normal;
	color: #9a9a9a;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.arrow-right {
	color: #543384;
	font-size: 24px;
}
a.btn {
	margin: 0 25px 15px 30px;
	padding: 6px 15px 6px 30px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-style: normal;
}
div.big-btn {
	border: 4px solid #f6364b;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 20px 0 40px 0;
	background-color: #f6364b;
	-webkit-border-radius: 46px;
	-moz-border-radius: 46px;
	border-radius: 46px;
}
div.big-btn .down {
	font-size: 30px;
	color: #FFF;
	display: inline-block;
	margin: 0 0 0 30px;
	font-family: 'Roboto Slab', serif;
}
div.big-btn a {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 100%;
	padding: 20px 110px;
	color: #f6364b;
}
div.big-btn a h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
	font-size: 42px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

div.big-btn:hover {
	opacity: 0.8;
}
div.big-btn a:hover {
	display: block;
	color: #FFF;
}
div.big-btn a:hover span {
	color: #FFF;
}
div.big-btn span {
	display: block;
}

/* apply */

div.med-btn {
	border: 4px solid #b8b7c6;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 20px 0;
	background-color: #b8b7c6;
	-webkit-border-radius: 46px;
	-moz-border-radius: 46px;
	border-radius: 46px;
}
div.med-btn .down {
	font-size: 20px;
	color: #FFF;
	display: inline-block;
	margin: 0 0 0 30px;
	font-family: 'Roboto Slab', serif;
}
div.med-btn a {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 100%;
	padding: 20px 70px;
	color: #f6364b;
}
div.med-btn a h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

div.med-btn:hover {
	border: 4px solid #f6364d;
	background-color: #f6364d;
	
}
div.med-btn a:hover {
	display: block;
	color: #FFF;
}
div.med-btn a:hover span {
	color: #FFF;
}
div.med-btn span {
	display: block;
}
/* lets chat */
a.button-letschat {
	background-color: #f6364b; /* pink red */
	color: #FFF;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	border: 2px solid #f6364b;
}
a.button-letschat:hover {
	border: 2px solid #fa5166;
	background-color: #fa5166;
}
a.button-ourwork {
	background-color: #543384; /* enabled purple */
	border: 2px solid #543384;
	color: #FFF;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
a.button-ourwork:hover {
	border: 2px solid #7954ab;
	background-color: #7954ab;
}
span.icon {
	margin: 0 0 0 20px;
}
/*--------------------filters-----------------*/

ul#filters {
	list-style: none;
	list-style-type: none;
	text-align: center;
	display: block;
	margin: 40px 0 0 0;
	padding: 0;
}
ul#filters li {
	display: inline-block;
	margin: 0 20px 0 0;
}
ul#filters li span {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	color: #9a9a9a;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
ul#filters li span.active {
	background: #f6364b;
	color: #fff;
}
/*-------------------more work-----------------*/
ul#portfolio-list li.mix, ul#team-list li.mix  {
	display: none;
}
ul.more-work li {
	width: 98%;
	margin: 0 0 30px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
}
div.work-info {
	display: block;
	width: 95%;
	min-height: 210px;
	height: auto !important;
	height: 210px;
	margin: 0 auto 15px auto;
	line-height: 1.8em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.work-image, div.work-image a {
	overflow: hidden;
	width: 100%;
	height: 215px;
	text-align: center;
	position: relative
}
div.work-image a img {
	max-width: 768px;
	width: 768px;
	height: 215px;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -384px;
}
div.work-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-size: 14px;
}
div.work-text h4 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
	font-size: 20px;
}
div.work-postby {
	width: 180px;
	height: 35px;
	margin: 0 auto;
}
div.work-postby span {
	float: left;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	border-radius: 50%;
}
div.work-postby div.post-name {
	float: left;
	padding: 0 0 0 15px;
	height: 30px;
}
span.post-josh {
	background-image: url(../images/img_teamphotos_josh_sm.jpg);
}
span.post-craig {
	background-image: url(../images/img_teamphotos_craig_sm.jpg);
}
span.post-grant {
	background-image: url(../images/img_teamphotos_grant_sm.jpg);
}
span.post-james {
	background-image: url(../images/img_teamphotos_james_sm.jpg);
}
span.post-dylan {
	background-image: url(../images/img_teamphotos_dylan_sm.jpg);
}
span.post-heath {
	background-image: url(../images/img_teamphotos_heath_sm.jpg);
}
span.post-simeon {
	background-image: url(../images/img_teamphotos_simeon_sm.jpg);
}
span.post-colin {
	background-image: url(../images/img_teamphotos_colin_sm.jpg);
}
span.post-nola {
	background-image: url(../images/img_teamphotos_nola_sm.jpg);
}
span.post-john {
	background-image: url(../images/img_teamphotos_john_sm.jpg);
}
span.post-elle {
	background-image: url(../images/img_teamphotos_elle_sm.jpg);
}
span.post-harrison {
	background-image: url(../images/img_teamphotos_harrison_sm.jpg);
}
span.post-lewis {
	background-image: url(../images/img_teamphotos_lewis_sm.jpg);
}
span.post-linh {
	background-image: url(../images/img_teamphotos_linh_sm.jpg);
}
span.post-tim {
	background-image: url(../images/img_teamphotos_tim_sm.jpg);
}
span.post-jack {
	background-image: url(../images/img_teamphotos_jack_sm.jpg);
}
span.post-huw {
	background-image: url(../images/img_teamphotos_huw_sm.jpg);
}
span.post-robert {
	background-image: url(../images/img_teamphotos_robert_sm.jpg);
}
span.post-jarrod {
	background-image: url(../images/img_teamphotos_jarrod_sm.jpg);
}
span.post-apply {
	background-image: url(../images/img_teamphotos_apply_sm.jpg);
}
a.team-jarrod {
	background-image: url(../images/img_teamphotos_jarrod.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
/*-------------four column lists-------------*/
ul.four-columns {
	list-style: none;
	list-style-type: none;
	margin: 80px 0 60px 0;
	padding: 0;
}
ul.four-columns li {
	width: 25%;
	height: auto;
	text-align: center;
	float: left;
	display: inline-block;
	margin: 0 0 10px 0;
}
ul.four-columns.logos img {
	width: 95%;
	height: auto;
}
/*-------------three column lists-------------*/
ul.three-columns {
	list-style: none;
	list-style-type: none;
	margin: 80px 0 60px 0;
	padding: 0;
}
ul.three-columns li {
	width: 33%;
	height: auto;
	text-align: center;
	float: left;
	display: inline-block;
	margin: 0 0 10px 0;
}
ul.three-columns.logos img {
	width: 95%;
	height: auto;
}
/*---- team---*/

ul.three-columns.team h4, ul.four-columns.team h4 {
	margin: 0;
	color: #565656;
}
ul.three-columns.team h4.text-grey, ul.four-columns.team h4.text-grey {
	font-size: 14px;
}
ul.three-columns.team h4 a, ul.four-columns.team h4 a {
	margin: 0;
	color: #565656;
	text-decoration: none;
}
ul.three-columns.team h4 a:hover, ul.four-columns.team h4 a:hover {
	margin: 0;
	color: #565656;
	text-decoration: none;
	cursor: pointer !important;
}
ul.three-columns.team .info-text a:hover, ul.four-columns.team .info-text a:hover {
	cursor: pointer !important;
}
ul.three-columns.team div.info-icon a, ul.four-columns.team div.info-icon a {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	text-indent: -9999px;
}
ul.three-columns.team div.info-icon, ul.four-columns.team div.info-icon {
	margin: 0 0 10px 0;
}
ul.three-columns.team div.info-icon a:hover, ul.four-columns.team div.info-icon a:hover {
	background-position: 0 -170px;
	cursor: pointer !important;
}
ul.three-columns.team li, ul.four-columns.team li {
	margin: 0 0 20px 0;
	height: 300px; /*480*/
}
ul.three-columns.team div.info-text, ul.four-columns.team div.info-text {
	font-size: 14px;
	line-height: 1.7em;
}
a.team-grant {
	background-image: url(../images/img_teamphotos_grant.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-craig {
	background-image: url(../images/img_teamphotos_craig.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-james {
	background-image: url(../images/img_teamphotos_james.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-simeon {
	background-image: url(../images/img_teamphotos_simeon.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-dylan {
	background-image: url(../images/img_teamphotos_dylan.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-nola {
	background-image: url(../images/img_teamphotos_nola.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-josh {
	background-image: url(../images/img_teamphotos_josh.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-peter {
	background-image: url(../images/img_teamphotos_peter.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-heath {
	background-image: url(../images/img_teamphotos_heath.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.team-colin {
	background-image: url(../images/img_teamphotos_colin.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-john {
	background-image: url(../images/img_teamphotos_john.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-elle {
	background-image: url(../images/img_teamphotos_elle.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-harrison {
	background-image: url(../images/img_teamphotos_harrison.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-lewis {
	background-image: url(../images/img_teamphotos_lewis.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-mark {
	background-image: url(../images/img_teamphotos_mark.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-linh {
	background-image: url(../images/img_teamphotos_linh.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-tim {
	background-image: url(../images/img_teamphotos_tim.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-jack {
	background-image: url(../images/img_teamphotos_jack.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-huw {
	background-image: url(../images/img_teamphotos_huw.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-robert {
	background-image: url(../images/img_teamphotos_robert.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-jarrod {
	background-image: url(../images/img_teamphotos_jarrod.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-tom {
	background-image: url(../images/img_teamphotos_tom.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-apply {
	background-image: url(../images/img_teamphotos_apply.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

/* action */
div.action-header{
	margin-left: 250px;
}

div.action-left {
	padding: 220px 0;
	text-align: left;
}

div.action-center {
	padding: 220px 0;
	text-align: center;
}

div.action-left h5, 
div.action-center h5{
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding:0;
	font-weight: 400;
	font-style: normal;
}

span.action-title{
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 44px;
	text-transform: uppercase;
	font-style: normal;
}

span.action-title a{
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 100;
	color: #FFF;
	font-size: 42px;
	text-transform: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	white-space: nowrap;
}

span.action-title a:hover{
	opacity: 0.8;
}

/*-------------[content slider]---------------*/
.align-right {
	text-align: right;
}
.float-right {
	float: right;
}
.align-left {
	text-align: left;
}
.float-left {
	float: left;
}

.align-center {
	text-align: center;
}
/* hero slider */

.hero-slider {
	width: 1440px;
	height: 800px;
	overflow: hidden;
	position: absolute !important;
	display: none !important;
	visibility: hidden;
	text-align: center;
}
.hero-slider img {
	height: 800px;
	width: 1440px;
	margin: 0 auto;
	display: block;
}
/* content slider */

.content-slider {
	width: 100%;
	min-height: 500px;
	height: auto !important;
	height: 500px;
	overflow: hidden;
	position: relative;
	display: block;
}
.slide-content {
	float: left;
	z-index: 1;
	min-height: 500px;
	height: auto !important;
	height: 500px;
	width: 100%;
	display: inline-block;
	background-color: #FFF;
}

.services-slider .slide-content,
.services-slider .slide-text{
	background-color: transparent;
}

.slide-icon {
	width: 100%;
	height: 265px;
	text-align: center;
}
.slide-text {
	margin: 20px 0 0 0;
	padding: 0 50px;
	background-color: #FFF;
	height: 250px;
	min-height: 250px;
	height: auto;
}
.content-slider nav {
	position: absolute;
	top: 270px;
	left: 1px;
	right: 0;
	margin: 0 120px 0 250px;
	padding: 0;
	height: 20px;
	width: 700px;
	z-index: 2;
	background-image: url(../images/img_slider.png);
	background-repeat: repeat-x;
	background-position: center center;
}
.content-slider nav a {
	width: 114px;
	height: 20px;
	display: inline-block;
	text-align: left;
}
.content-slider nav a span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #BABABA;
	display: inline-block;
	text-indent: -9999px;
}
div.column-left {
	float: left;
	width: 345px;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.text-small-left {
	float: left;
	width: 350px;
	padding: 20px 0 0 0;
	min-height: 380px;
	height: auto !important;
	height: 380px;
	line-height: 1.6em;
	font-size: 24px;
}
div.column-right {
	float: right;
	width: 345px;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.text-small-right {
	float: right;
	width: 350px;
	padding: 20px 0 0 0;
	min-height: 380px;
	height: auto !important;
	height: 380px;
	line-height: 1.6em;
	font-size: 24px;
}
div.text-wide-right {
	float: right;
	width: 710px;
}
div.text-wide-left {
	float: left;
	width: 710px;
}

div.text-center {
	padding: 70px 0 0 0;
	min-height: 660px;
	height: auto !important;
	height: 660px;
	text-align: center;
}
div.info {
	display: block;
	width: 290px;
	min-height: 210px;
	height: auto !important;
	height: 210px;
	margin: 0 auto;
	line-height: 1.8em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.info-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
}
div.intro-left h4,
div.jobs-left h4{
	font-weight: 400;
	color: #AAA;
	margin: 0 0 10px 0;
}
div.intro-left h4:after,
div.jobs-left h4:after {
	width: 55px;
	height: 5px;
	display: block;
	content: '';
	margin: 5px 0 0 0;
	border-bottom: 2px solid #AAAAAA;
}
div.info h4 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
}
div.intro-left h3,
div.jobs-left h3 {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	margin: 0;
	color: #575656;
	font-size: 24px;
	margin-top: 10px;
	padding:0;
}
div.info-icon {
	max-height: 170px;
}

div.intro-left {
	float: left;
	width: 360px;
	padding-left: 40px; /* 360px */
}
div.intro-right {
	float: right;
	width: 650px;
}
/*-----------[jobs]--------*/

div.jobs-left {
	float: left;
	width: 200px;
}

div.jobs-right {
	float: right;
	width: 830px; /* 710px */
	padding: 32px 0 50px 0;
}

/*-----------[map]---------*/

div.map {
	overflow: hidden;
	height: 420px;
	width: 710px;
	padding-top: 15px;
}
div#gmap_canvas {
	height: 420px;
	width: 710px;
}
/*---------[social]---------*/

a.social {
	text-indent: -9999px;
	margin: 0 10px 0 0;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	opacity: 0.7;
}
a.social:hover {
	opacity: 1;
}
a.twitter {
	background-image: url(../images/icon_twitter.svg);
}
a.twitter:hover {
	background-image: url(../images/icon_twitter_hover.svg);
}
a.linkedin {
	background-image: url(../images/icon_linkedin.svg);
}
a.linkedin:hover {
	background-image: url(../images/icon_linkedin_hover.svg);
}
a.googleplus {
    background-image: url(../images/icon_googleplus_normal.svg);
}
a.googleplus:hover {
    background-image: url(../images/icon_googleplus_hover.svg);
}
a.dribbble {
    background-image: url(../images/icon_dribbble_normal.svg);
}
a.dribbble:hover {
    background-image: url(../images/icon_dribbble_hover.svg);
}
a.instagram {
    background-image: url(../images/icon_instagram_normal.svg);
}
a.instagram:hover {
    background-image: url(../images/icon_instagram_hover.svg);
}


a.footer-social {
	text-indent: -9999px;
    margin: 5px 10px 0 0;
    float: left;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
}

a.footer-social:hover {
	opacity: 0.8;
}

a.footer-twitter {
	background-image: url(../images/ic_twitter.svg);
}

a.footer-linkedin {
	background-image: url(../images/ic_linkedin.svg);
}

a.footer-googleplus {
    background-image: url(../images/ic_googleplus.svg);
}

a.footer-dribbble {
    background-image: url(../images/icon_dribbble_hover.svg);
}

a.footer-instagram {
    background-image: url(../images/icon_instagram_hover.svg);
}

/*---[project----*/


div.project-more {
	height: 350px;
	text-align: center;
	padding: 70px 0 0 0;
}
div.project-video {
	text-align: center;
	padding: 0;
}
/*-----------menu navicon transformation---------*/

div#menu {
	float: right;
	width: 30px;
	height: 61px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 100;
}
.nav-icon {
	width: 30px;
}
.nav-icon:after, .nav-icon:before, .nav-icon span {
	background-color: #fff;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: '';
	display: block;
	height: 2px;
	margin: 8px 0;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
body.clip .nav-icon.cross:before {
	transform: translateY(12px) rotate(135deg);
	-moz-transform: translateY(12px) rotate(135deg);
	-webkit-transform: translateY(12px) rotate(135deg);
}
body.clip .nav-icon.cross:after {
	transform: translateY(-12px) rotate(-135deg);
	-moz-transform: translateY(-12px) rotate(-135deg);
	-webkit-transform: translateY(-12px) rotate(-135deg);
}
body.clip .nav-icon.cross span {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
/*---------------[overlay]----------------*/

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(85, 50, 134,1);
	z-index: 99;
}
/*--------------Overlay closing cross--------*/
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	float: right;
	margin: 22px 0 0 0;
	overflow: hidden;
	border: none;
	background-image: url(../images/icon-closed.png);
	background-repeat: no-repeat;
	background-color: transparent;
	color: #FFF;
	text-indent: 200%;
	color: transparent;
	z-index: 100;
}
/*------------Menu style----------*/
.overlay nav {
	text-align: center;
	position: relative;
	top: 35%;
	height: 60%;
	font-size: 48px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
}
.overlay ul li {
	display: block;/*height: 20%;
	height: calc(100% / 5);*/
}
.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	padding: 5px 0;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
}
.overlay ul li a:hover, .overlay ul li a:focus {
	color: #553285; /*#ddc6e5*/
	background-color: #FFF;
}
/*----------------[Effects]-------------------*/
.overlay-enabled {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	-moz-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-enabled.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay-enabled nav {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}
.overlay-enabled nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	-moz-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.overlay-enabled.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.overlay-enabled.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	-moz-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

div.faq-list ul{
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: left;
	font-family: 'Lato', sans-serif !important;
	color: #fec5c5;
}

div.faq-list li{
	margin-bottom:  40px;
}

div.faq-list strong{
	display: block;
	margin-bottom: 10px;
	color: #FFF;
}

div.faq h2{
	font-family: 'Lato', sans-serif !important;
	font-size: 44px !important;
	padding: 0 15px;
	font-weight: 600;
}

/* ------------------------ services -------------------------- */

/* ------- innovation ----- */

#innovation .three-lenses{
	font-family: Open Sans;
	font-size: 22px;
	line-height: 1.5em;
	color: #4c85e4;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 35px;
	display: inline-block;
}

#innovation .three-lenses::before{
	margin-right: 20px;
}

#innovation .three-lenses::after{
	margin-left: 20px;
}
#innovation .three-lenses::before,
#innovation .three-lenses::after{
	width: 60px;
	height: 2px;
	background-color: #dcdef2;
	display: inline-block;
	margin-bottom: 5px;
	content: "";
}

#innovation h1{
	font-family: Lato;
	font-size: 64px;
	font-weight: 900;
	line-height: 1.1;
	letter-spacing: 14px;
	text-align: center;
	color: #1c1c1c;
	text-transform: uppercase;
}

#innovation h4{
	font-family: Lato;
	font-size: 30px;
	font-weight: 900;
	line-height: 1em;
	color: #122845;
	margin-bottom: 15px;
}

#innovation p{
	font-family: Open Sans;
	font-size: 16px;
	line-height: 1.8em;
	color: #8b8bb1;
}

.element{
	position: absolute;
	display: block;
	z-index: 2;
 }
 
div#innovation-circles{
	margin: 0 auto;
	display: block;
	width: 600px;
	height: 600px;
	position: relative;
}

div#innovation-text{
	margin: -250px auto 0 auto;
	display: block;
	width: 600px;
	height: 420px;
	position: relative;
}
 
 div#innovation .element.circle{
	height: 324px;
	width: 324px;
 }
 
div#innovation .human-large{
	top: 84px;
	left: 139px;
}

div#innovation .tech-large{
	top: 270px;
	left: 264px;	/*mix-blend-mode: multiply;*/
}

div#innovation .business-large{
	top: 273px;
	left: 5px;	/*mix-blend-mode: difference;*/
}

div#innovation-text{
	margin: -250px auto 0 auto;
	display: block;
	width: 600px;
	height: 420px;
	position: relative;
}

div#innovation .lightglobe{
	width: 40px;
	height: 42px;
	left: 277px;
	top: 12px;
}

div#innovation .line{
	width: 14px;
	height:268px;
	left: 290px;
	top: 58px;
}

div#innovation .innovation-green{
	width: 342px;
	height: 80px;
	left: 125px;
	top: 330px;
}

@keyframes moveleft {
    from { left: -100%;  }
  to { left: 100%;  }
}
@-moz-keyframes moveleft {
      from { left: -100%;  }
  to { left: 100%;  }
}
@-webkit-keyframes moveleft {
    from { left: -100%;  }
  to { left: 100%;  }
}

@-ms-keyframes moveleft {
   from { left: -100%;  }
  to { left: 100%;  }
}
@-o-keyframes moveleft {
     from { left: -100%;  }
  to { left: 100%;  }
}

/*---------- why it works --------------*/

#why-it-works { 
	position: relative ; 
	overflow: hidden;
	
	background: url(../images/services/img_whyitworks_bg.jpg); 
	background-position: top center;
	-webkit-background-size: 1440px 940px;      
    -moz-background-size: 1440px 940px;      
    -o-background-size: 1440px 940px;         
    background-size: 1440px 940px;  
	background-repeat: no-repeat; 
	
	padding-top: 160px;      
	
}
#why-it-works h1{
	font-family: Roboto Slab;
	font-size: 80px;
	font-weight: 100;
	line-height: 1;
	color: #ffffff;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
	text-align: center;
	max-width: 480px;
	margin: 0 auto;
}

#why-it-works .onecolumn{
	max-width: 420px;
	padding: 25px 0;
	border-top: 2px solid #91a8db;
	border-bottom: 2px solid #91a8db;
	margin-top: 30px;
	text-align: justify;
}

#why-it-works .onecolumn p{
	font-family: Roboto Slab;
	font-size: 18px;
	font-weight: 400;
	color: #66779e;
}
#why-it-works .onecolumn h3{
	font-family: Roboto Slab;
	font-size: 24px;
	font-weight: 600;
	color: #444f68;
	padding: 0;
}

#why-it-works .frost { 
	position: absolute; 
	background: url(../images/services/frost.png); 
	left: -100%;
	display: block; 
	width: 3000px; 
	height: 800px; 
	top: 160px;
	
	-webkit-background-size: 3000px 800px;      
    -moz-background-size: 3000px 800px;      
    -o-background-size: 3000px 800px;         
    background-size: 3000px 800px;          
 
    animation: moveleft 35s linear infinite;
    -moz-animation: moveleft 35s linear infinite;
    -webkit-animation: moveleft 35s linear infinite;
    -ms-animation: moveleft 35s linear infinite;
    -o-animation: moveleft 35s linear infinite;
    z-index: 80;
}
/* ------- services header ----- */

#services-header{
	background-image: url(../images/services/img_header_bg.jpg); 
	background-color: #FFF;
	background-position: bottom center;
	-webkit-background-size: 1440px 800px;      
    -moz-background-size: 1440px 800px;      
    -o-background-size: 1440px 800px;         
    background-size: 1440px 800px;  
	background-repeat: no-repeat;       
	padding: 160px 0 0 0 !important; 
}
#services-header .our-services {
	font-family: Roboto Slab;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 8px;
	color: #7954ab;
	text-transform: uppercase;
	font-weight: 400;
}

#services-header .our-services::before{
	margin-right: 20px;
}

#services-header .our-services::after{
	margin-left: 20px;
}
#services-header .our-services::before,
#services-header .our-services::after{
	width: 60px;
	height: 2px;
	background-color: #dcdef2;
	display: inline-block;
	margin-bottom: 5px;
	content: "";
}

#services-header h1{
	font-size: 62px;
	color: #242424;
	margin-top: 30px;
}

#services-header h3{
	font-family: Open Sans;
	font-size: 20px;
	line-height: 1.8;
	font-weight: 300;
	color: #7954ab;
	margin-top: 80px;
}

/*-------- service items  ----------*/

.service-item div.jobs-left{
	text-align: right;
}

.service-item div.jobs-right{
	 box-sizing: border-box;
	 padding-right: 50px;
}

.service-item  h1{
	font-family: Lato;
	font-size: 76px;
	font-weight: 900;
}

.service-item p{
	font-family: Open Sans;
	font-size: 20px;
	line-height: 1.5em;
}

.services-list {
	list-style: none;
	list-style-type: none;
	margin: 70px  0 0 0;
	padding: 0;
}

.services-list > li{
	float: left;
	width: 48%;
}

.services-list h3{
	font-family: Lato;
	font-size: 30px;
	font-weight: 900;
	line-height: 1.5em;
	padding: 0;
}

/*-------- discover ---------- */

#services-discover{
	background-color: #553583;
	
	min-height: 500px;
    height: auto !important;
    height: 500px;     
	
	padding-top: 40px;
}

#services-discover h1,
#services-discover .services-list h3{
	color: #FFF;
}

#services-discover p{
	color: #d1bdee;
}


#services-discover .steps-taken li {
    background-image: url(../images/services/ic_tick_discover.svg);
	color: #d1bdee;
	font-weight: 300;
}


/*-------- ideate ---------- */

#services-ideate{
	background-color: #3D2374;
	background-image: url(../images/services/img_ideate_bg.jpg); 
	background-position: bottom center;
	-webkit-background-size: 1440px 770px;      
    -moz-background-size: 1440px 770px;      
    -o-background-size: 1440px 770px;         
    background-size: 1440px 770px;  
	background-repeat: no-repeat;  
	
	min-height: 720px;
    height: auto !important;
    height: 720px;     
	
	padding-top: 40px;
}

#services-ideate h1,
#services-ideate .services-list h3{
	color: #FFF;
}

#services-ideate p{
	color: #d1bdee;
}

#services-ideate .steps-taken li {
    background-image: url(../images/services/ic_tick_ideate.svg);
	color: #d1bdee;
	font-weight: 300;
}

/*-------- create ---------- */

#services-create{
	background-color: #F8F8F8;
	
	min-height: 440px;
    height: auto !important;
    height: 440px;     
	
	padding-top: 40px;
}

#services-create h1,
#services-create .services-list h3{
	color: #242424;
}

#services-create p{
	color: #3f3f3f;
}

#services-create .steps-taken li {
    background-image: url(../images/services/ic_tick_create.svg);
	color: #3f3f3f;
	font-weight: 300;
}

/*-------- Grow ---------- */

#services-grow{
	background-image: url(../images/services/img_services_bg.jpg); 
	background-color: #ECF7FD;
	background-position: bottom center;
	-webkit-background-size: 1440px 800px;      
    -moz-background-size: 1440px 800px;      
    -o-background-size: 1440px 800px;         
    background-size: 1440px 800px;  
	background-repeat: no-repeat;  
	
	min-height: 660px;
    height: auto !important;
    height: 660px;     
	
	padding-top: 40px;
}

#services-grow h1,
#services-grow .services-list h3{
	color: #242424;
}

#services-grow p{
	color: #3f3f3f;
}

#services-grow .steps-taken li {
    background-image: url(../images/services/ic_tick_grow.svg);
	color: #3f3f3f;
	font-weight: 300;
}

/* ------- enablers ----- */

#services-enablers{
	background: #006cff; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(360deg, #2a8fee 0%, #006cff 35%, #006cff 65%);
	background-image: -moz-linear-gradient(360deg, #2a8fee 0%, #006cff 45%, #006cff 65%);
	background-image: -o-linear-gradient(360deg, #2a8fee 0%, #006cff 45%, #006cff 65%);
	background-image: -ms-linear-gradient(360deg, #2a8fee 0%, #006cff 45%, #006cff 65%);
	background-image: linear-gradient(360deg, #2a8fee 0%, #006cff 45%, #006cff 65%);
}

#services-enablers h1{
	font-size: 62px;
	color: #FFF;
}

#services-enablers h3{
	font-family: Open Sans;
	font-size: 20px;
	line-height: 1.8;
	font-weight: 300;
	color: #b2eeff;
	margin-bottom: 130px;
}

#services-enablers h2{
	font-family: Lato;
	font-size: 40px;
	font-weight: 900;
	line-height: 1.2;
	color: #ffffff;
	margin-bottom: 20px;
	padding:0;
}

#services-enablers .column-right-xshort{
	text-align: right;
}

#services-enablers p{
	font-family: Open Sans;
	font-size: 18px;
	line-height: 1.7;
	color: #b2eeff;
}

#services-enablers .success-stories{
	margin-top: 35px;
	display: block;
}

#services-enablers .success-stories strong{
	font-family: Lato;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5em;
	color: #15326c;
	text-transform: uppercase;
}
#services-enablers .success-stories a{
	font-family: Roboto Slab;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2em;
	color: #ebf5ff;
	text-decoration: underline;
	margin-right: 5px;
	display: inline-block;
}

@media (min-width: 1200px) and (max-width: 1300px) {
	div.half-right h2, div.half-left h2 {
		margin: 0 auto;
		padding: 80px 95px;
		font-size: 24px;
		font-weight: 100;
		line-height: 1.5em;
		color: #9A9A9A !important;
	}
	div.half-right p, div.half-left p {
		padding: 0 95px;
	}
	
	div.jobs-right {
		width: 830px; 
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	
	div.jobs-right {
		width: 700px;	
	}
	
	div.action-header{
		margin-left: 0;
		width:80%;
		margin: 0 auto;
	}
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 20px 0;
	}
	div.feature-casestudy {
		width: 90%;
	}
	div.text-small-left {
		float: left;
		width: 300px;
		margin: 0 auto;
		min-height: 250px;
		height: auto !important;
		height: 250px;
	}
	div.text-wide-right {
		float: right;
		width: 630px;
		margin: 0 auto;
		min-height: 250px;
		height: auto !important;
		height: 250px;
	}
	div.map, div#gmap_canvas {
		width: 98%;
		height: 300px;
		margin: 0 auto;
		padding: 15px 0 30px 0;
	}
	div#content-holder {
		/*padding-bottom: 200px;*/
	}
	div#footer {
		/*height: 200px;*/
	}
	/* iframe*/
	.project-video iframe, .project-video object, .project-video embed {
		height: 450px;
		width: 90%;
		margin: 0 auto;
	}
	div.half-right h2, div.half-left h2 {
		padding: 40px 50px;
		font-size: 22px;
	}
	div.half-right p, div.half-left p {
		padding: 0 50px;
		font-size: 18px;
	}
	div.intro-right {
		float: right;
		width: 530px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#services-ideate,
	#services-grow{
		padding-bottom: 250px;
	}
	
	.service-item div.jobs-left{
		float: left !important;
		width: 200px !important;
	}
	
	.service-item div.jobs-right{
		float: right !important;
		width: 510px !important;
		min-height: 100px;
		height: auto !important;
		height: 100px;
	}
		
	div.intro-right{
		padding-top: 30px;
	}
		
	div.action-header{
		margin-left: 0;
		width:80%;
		margin: 0 auto;
	}
	
	a.btn {
		margin: 0 25px 15px 30px;
	}
		
	 h3.casestudy-info{
		font-size: 16px;
	}
	
	div.welcome-title h1 {
		font-size: 80px;
	}
	
	ul.three-columns li, ul.three-columns.team li, ul.four-columns li, ul.four-columns.team li, ul#filters {
		width: 98%;
		margin: 0 0 30px 0;
	}
	ul.three-columns.team li, ul.four-columns.team li {
		min-height: 210px;
		height: auto !important;
		height: 210px;
	}
	ul.three-columns.team div.info-icon, ul.four-columns.team div.info-icon {
		float: left;
		margin: 0 40px 0 0;
	}
	ul.three-columns.logos li, ul.three-columns.more-work li {
		width: 50%;
		padding: 20px 0;
	}
	ul.three-columns.logos img {
		max-width: 360px;
		height: auto;
	}
	div.info, 
	div.feature-casestudy {
		width: 100% !important;
	}
	div.info-icon {
		float: left;
		display: inline-block;
		margin: 0 30px 0 0;
		min-height: 160px;
		padding: 20px 0 0 0;
	}
	div.info h4, div.feature-casestudy h4 {
		font-size: 28px;
		line-height: 1.4em;
	}
	
	ul.three-columns.team h4.text-grey, ul.four-columns.team h4.text-grey {
		font-size: 18px;
	}
	
	div#innovation div.info-text {
		padding: 5px 0 0 0;
	}
	
	div.info-text {
		padding: 55px 0 0 0;
		text-align: left;
		font-size: 18px;
	}
	.feature-casestudy-text {
		font-size: 18px;
	}
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 20px 0 0 0;
	}
	.image-holder img {
		/*width: 95%;*/
		height: auto;
	}
	div.ourwork-half div.ourwork-feature, 
	div.ourwork-half div.half-left, 
	div.ourwork-half div.half-right {
		float: none !important;
		width: 100%;
		height: auto;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	div.column-left, 
	div.column-right, 
	div.text-small-left, 
	div.text-small-right, 
	div.text-wide-left, 
	div.text-wide-right,
	div.column-left-short,
	div.column-right-short,
	div.column-left-xshort,
	div.column-right-xshort,
	div.column-left-xwide,
	div.column-right-xwide,
	div.column-left-wider,
	div.column-right-wider,
	div.column-left-wide,
	div.column-right-wide{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
		min-height: 250px;
		height: auto !important;
		height: 250px;
	}
	
	div.jobs-right{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
		min-height: 100px;
		height: auto !important;
		height: 100px;
	}
	
	div.intro-left, 
	div.intro-right,
	div.jobs-left{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
		padding: 0;
	}
	div.intro-left h3, 
	div.intro-right h3,
	div.jobs-left h3{
		padding: 0;
	}
	div.map, 
	div#gmap_canvas {
		width: 98%;
		height: 280px;
		margin: 0 0 30px 0
	}
	div#content-holder {
		/*padding-bottom: 200px;*/
	}
	div#footer {
		/*height: 200px;*/
	}
	/* iframe*/
		
	.project-video iframe, 
	.project-video object, 
	.project-video embed {
		height: 350px;
		width: 90%;
		margin: 0 auto;
	}
	div.half-left {
		overflow: hidden;
		height: auto;
		text-align: center;
	}
	div.half-left img {
		width: auto;
		height: 550px;
		position: relative;
		left: 50%;
		margin-left: -100%;
	}
	div.half-right h2, div.half-left h2 {
		padding: 60px 45px;
		font-size: 24px;
		line-height: 1.5em;
	}
	div.half-right p, div.half-left p {
		padding: 0 45px;
		font-size: 18px;
	}
	}
	
	/* Small devices (tablets, 768px and up) */
	@media only screen and (min-width : 320px) and (max-width: 767px) {
		
	#services-ideate,
	#services-grow{
		padding-bottom: 250px;
	}
		
	.service-item div.jobs-left, 
	.service-item h1{
		text-align: center;
	}
	
	/* action*/
	
	div.action-header{
		margin-left: 0;
		width:90%;
		margin: 0 auto;
	}
	
	span.action-title {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 34px;
	}
	
	span.action-title a{
		font-size: 32px;
	}
	
	div.action-left, 
	div.action-center{
		padding: 80px 0;
	}
	
	div.ourwork-half {
		margin: 10px 0;
	}
	
	div.ourwork-info {
		padding: 20px;
	}
	
	a.casestudy-link{
		bottom: 20px;
	}
	
	.gradient-red:hover h3.casestudy-info,
	.gradient-grey:hover h3.casestudy-info,
	.gradient-green:hover h3.casestudy-info,
	.gradient-purpleblue:hover h3.casestudy-info,
	.gradient-bluepurple:hover h3.casestudy-info{
		display: none;
	}
	
	.hero-slider {
		display: block !important;
		visibility: visible;
	}
	.fullscreen-video {
		display: none;
	}
	div.header-content {
		background-image: none;
	}
	h1,
	#services-header h1,
	#services-enablers h1,
	.service-item  h1 {
		font-family: 'Lato', sans-serif;
		font-size: 38px;
		padding: 0 15px;
	}
	div.project-twocolumns h1, 
	div.project-onecolumn h1,
	div.project-twocolumnwide h1 {
		font-family: 'Lato', sans-serif;
		font-size: 44px !important;
		padding: 0 15px;
	}
	
	#services-enablers h2 {
		font-size: 26px;
	}
	
	.services-list h3{
		font-size: 22px;
	}
	
	#services-enablers p{
		font-size: 16px;
	}
	
	h2 {
		font-family: 'Roboto Slab', serif;
		font-size: 26px;
		padding: 0 20px;
	}
	h3 {
		font-family: 'Roboto Slab', serif;
		font-size: 22px;
		padding: 0 20px;
	}
	.overlay nav {
		font-size: 24px;
	}
	.overlay ul li {
		min-height: 50px;
	}
	div.big-btn a {
		padding: 15px 55px;
	}
	div.med-btn a {
		padding: 20px 35px;
	}
	.image-holder img.desktop {
		display: none;
	}
	.image-holder img.mobile {
		display: inline-block !important;
	}
	div.column-left, 
	div.column-right {
		float: none !important;
		width: 93% !important;
	}
	div#footer-contactinfo, 
	div#footer-logo, 
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 15px 0 0 0;
		height: auto;
	}
	div#footer-contactinfo {
		font-size: 18px;
		line-height: 1.4em;
	}
	.title {
		font-size: 40px;
	}
	div.welcome-title h1 {
		font-size: 60px;
	}
	div.welcome-title h3 {
		padding: 0 15px;
	}
	div#footer {
		height: auto;
	}
	
	ul#filters li {
		display: block;
		margin: 0 20px 20px 0;
	}
	ul#filters li span {
		display: inline;
	}
	ul.three-columns li, ul.four-columns li {
		width: 98%;
		margin: 0 0 30px 0;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
	}
	
	ul.three-columns.team li, ul.four-columns.team li{
		height: 260px;
	}
	ul.three-columns.logos img {
		max-width: 360px;
		height: auto;
	}
	div.text-center, div.text-left {
		padding: 40px 0;
	}
	.image-holder img {
		/*width: 95%;*/
		height: auto;
		margin: 0 auto;
	}
	.slide-text {
		padding: 0 10px;
		margin: 0;
	}
	.slide-icon {
		height: 210px;
	}
	.slide-icon img {
		width: auto;
		height: 200px;
	}
	div.info {
		width: 80% !important;
	}
	div.feature-casestudy {
		width: 93% !important;
	}
	div.info h4, div.feature-casestudy h4 {
		font-size: 26px;
		line-height: 1.4em;
	}
	
	div#innovation div.info-text {
		font-size: 20px;
	}
	
	ul.three-columns.team h4.text-grey, 
	ul.four-columns.team h4.text-grey {
		font-size: 18px;
	}
	div.info-text, 
	div.feature-casestudy-text {
		font-size: 18px;
	}
	div#content-holder {
		padding: 0; 
	}
	div.column-left, 
	div.text-small-left, 
	div.column-right, 
	div.text-small-right, 
	div.text-wide-left, 
	div.text-wide-right,
	div.column-left-short,
	div.column-right-short,
	div.column-left-wide,
	div.column-right-wide,
	div.column-left-xshort,
	div.column-right-xshort,
	div.column-left-xwide,
	div.column-right-xwide,
	div.column-left-wider,
	div.column-right-wider,
	div.column{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
		min-height: 150px;
		height: auto !important;
		height: 150px;
		
	}
	
	div.intro-left, 
	div.intro-right,
	div.jobs-left {
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
		padding: 0;
	}
	
	.services-list{
		width: 93%;
		margin: 0 auto;
	}

	
	.services-list > li {
		float: none !important;
		margin-bottom: 20px;
		width: 100%;
	}
	
	.service-item div.jobs-right {
		padding-right: 0 !important;
	}
	
	div.jobs-right{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
	}
	
	div.intro-right{
		padding-top: 30px;
	}
	
	div.intro-left h3, 
	div.intro-right h3 {
		padding: 0 0 10px 0;
	}
	div.map, div#gmap_canvas {
		width: 98%;
		height: 280px;
		margin: 0 0 30px 0;
	}
	div#project-hero, 
	div.project-feat {
		overflow: hidden;
		min-height: 150px !important;
		height: 150px !important;
		height: auto !important;
		text-align: center;
	}
	div#project-hero img, 
	div.project-feat img, 
	div.half-left img, 
	div.half-right img {
		width: auto;
		min-height: 150px !important;
		height: 150px !important; 
		height: auto !important;
		left: 50%;
		margin-left: -100%;
		position: relative;
	}
	/* iframe*/
		
	.project-video iframe, 
	.project-video object, 
	.project-video embed {
		height: 350px;
		width: 90%;
		margin: 0 auto;
	}
	div.project-animated {
		height: auto;
	}
	div.project-animated img {
		max-width: 300px;
		height: auto;
	}
	div.ourwork-half div.ourwork-feature, 
	div.ourwork-half div.half-left, 
	div.ourwork-half div.half-right {
		float: none !important;
		width: 100% !important;
		height: auto;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	div.wah1 div.half-left {
		float: none !important;
		width: 100% !important;
		height: 450px;
		text-align: center;
		background: url(../images/img_hero_wah1_responsive.jpg) no-repeat top center;
	}
	div.wah2 div.half-left {
		float: none !important;
		width: 100% !important;
		height: 450px;
		text-align: center;
		background: url(../images/img_hero_wah4_responsive.jpg) no-repeat top center;
	}
	div.cca div.half-left {
		float: none !important;
		width: 100% !important;
		height: 450px;
		text-align: center;
		background: url(../images/img_hero_cca1_responsive.jpg) no-repeat top center;
	}
	div.cca div.half-left img, 
	div.wah1 div.half-left img, 
	div.wah2 div.half-left img {
		display: none !important;;
	}
	div.half-right {
		float: none !important;
		width: 100% !important;
	}
	div.half-right h2, 
	div.half-left h2 {
		padding: 100px 55px;
		font-size: 20px !important;
	}
	div.half-right p, 
	div.half-left p {
		padding: 0 55px 60px 55px;
		font-size: 18px Important;
	}
	div.project-features {
		font-size: 16px !important;
	}
	div.project-features ul, 
	div.project-features.raa-feat ul {
		padding: 40px 10px 80px 10px !important;
	}
	div.project-features li {
		margin: 0 0 15px 0 !important;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait) {
	/*IPhone 5 only CSS here*/
					 
	div.read-more {
		padding: 40px 0 0 0;
		position: absolute;
		bottom: 360px;
		left: 35%;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	/*iPhone 6 Portrait*/
		
	div.read-more {
		padding: 40px 0 0 0;
		position: absolute;
		bottom: 270px;
		left: 35%;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
	/*iPhone 6+ Portrait*/
		
	div.read-more {
		padding: 40px 0 0 0;
		position: absolute;
		bottom: 195px;
		left: 35%;
	}
}

@media only screen and (min-width: 441px) and (max-width: 640px){
	/* innovation animation */
	
	div#innovation-circles{
		width: 420px;
	}
		
	div#innovation .element.circle{
		width: 220px;
		height: 220px;
	}
	
	div#innovation .human-large{
		top: 84px;
		left: 100px;
	}
	
	div#innovation .tech-large{
		top: 210px;
		left: 184px;	
	}
	
	div#innovation .business-large{
		top: 210px;
		left: 5px;	
	}
	
	div#innovation-text{
		margin: -350px auto 0 auto;
		display: block;
		width: 400px;
		height: 270px;
		position: relative;
	}
	
	div#innovation .lightglobe{
		width: 24px;
		height: 26px;
		left: 184px;
		top: 22px;
	}
	
	div#innovation .line{
		width: 14px;
		height:168px;
		left: 189px;
		top: 53px;
	}
	
	div#innovation .innovation-green{
		width: 322px;
		height: 60px;
		left: 45px;
		top: 230px;
	}
}

@media only screen and (max-width: 440px){
	/* innovation animation */
	
	div#innovation-circles{
		width: 290px;
	}
		
	div#innovation .element.circle{
		width: 160px;
		height: 160px;
	}
	
	div#innovation .human-large{
		top: 84px;
		left: 60px;
	}
	
	div#innovation .tech-large{
		top: 180px;
		left: 127px;	
	}
	
	div#innovation .business-large{
		top: 180px;
		left: 5px;	
	}
	
	div#innovation-text{
		margin: -390px auto 0 auto;
		display: block;
		width: 290px;
		height: 270px;
		position: relative;
	}
	
	div#innovation .lightglobe{
		width: 20px;
		height: 22px;
		left: 136px;
		top: 8px;
	}
	
	div#innovation .line{
		width: 14px;
		height:168px;
		left: 139px;
		top: 33px;
	}
	
	div#innovation .innovation-green{
		width: 312px;
		height: 50px;
		left: 5px;
		top: 210px;
	}
	
	#services-header .our-services{
		font-size: 12px;
		letter-spacing: 6px;
	}
	
	#services-header .our-services::before,
	#services-header .our-services::after{
		width: 40px;
	}
	
	#why-it-works .project-onecolumn{
		padding: 70px 20px;
	}
	
	#why-it-works .onecolumn p{
		font-size: 16px;
	}
	
	#why-it-works .onecolumn h3{
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	
	div.column-left, 
	div.column-right, 
	div.text-small-left, 
	div.text-small-right, 
	div.text-wide-left, 
	div.text-wide-right,
	div.column-left-short,
	div.column-right-short,
	div.column-left-xshort,
	div.column-right-xshort,
	div.column-left-xwide,
	div.column-right-xwide,
	div.column-left-wider,
	div.column-right-wider,
	div.column-left-wide,
	div.column-right-wide{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
		min-height: 250px;
		height: auto !important;
		height: 250px;
	}
	
	div.jobs-right{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
		min-height: 100px;
		height: auto !important;
		height: 100px;
	}
	
	div.intro-left, 
	div.intro-right,
	div.jobs-left{
		float: none !important;
		width: 93% !important;
		margin: 0 auto;
	}
		
	div#footer-buttons .btn {
		margin: 25px auto 0 auto !important;
	}
	
	div#content-holder {
		padding: 0;
	}
	.slide-icon {
		height: 160px;
	}
	.slide-icon img {
		width: auto;
		height: 150px;
	}
	.slide-text h1 {
		font-size: 30px;
	}
	.slide-text h3 {
		font-size: 18px;
	}
	div#footer-buttons .btn {
		margin: 25px auto 0 auto;
		width: 100%;
		text-align: center;
		font-size: 22px;
		padding: 15px 15px 15px 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 28px;
		-moz-border-radius: 28px;
		border-radius: 28px;
	}
	div.big-btn {
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
	}
	div.big-btn a h2 {
		font-size: 32px;
	}
	div.welcome-title {
		padding: 140px 0 0 0;
	}
	div.welcome-title h1 {
		font-size: 40px;
	}
	div.read-more {
		padding: 40px 0 0 0;
	}
	/* iframe*/
		
	.project-video iframe, .project-video object, .project-video embed {
		height: 250px;
		width: 90%;
		margin: 0 auto;
	}
	div.project-animated {
		height: auto;
	}
	div.project-animated img {
		max-width: 300px;
		height: auto;
	}
	div.project-results .quote {
		padding: 100px 0;
	}
	div.half-right h2, div.half-left h2 {
		padding: 100px 35px;
		font-size: 20px;
	}
	div.feature-casestudy {
		line-height: 1.4em;
	}
	div.feature-casestudy-text {
		padding: 20px;
	}
	
	div.ourwork-half h3{
		font-size: 16px;
	}
	
	a.casestudy-link{
		font-size: 12px;
	}
	
	h3.casestudy-info{
		display: block !important;
		margin: 15px 0 0 0 !important;
		font-size: 12px !important;
	}
	
	div.ourwork-info{
		background-color: rgba(0,0,0,0.3);
	}
	
	/*.fixed {
		height: 70px !important;
	}
	
	.fixed div#top{
		padding: 16px  0 0 0;
	}
	
	.nav-icon:after, .nav-icon:before, .nav-icon span {
  		margin: 9px 0;
	}
	
	div#menu {
  		height: 50px
	}*/
	 
}

@media (max-width: 400px) {
	div#top {
		padding: 25px 0 0 0;
	}
	
	div#header{
		height: 80px;
	}
	
	div#wrapper {
		padding: 80px 0 0 0;
	}
	
	div#project-hero, 
	div.project-feat {
		overflow: hidden;
		height: 350px;
		text-align: center;
	}
	div.half-left {
		float: none !important;
		width: 100% !important;
		overflow: hidden;
		height: 350px;
		text-align: center;
	}
	div.ourwork-half div.half-left, 
	div.half-right {
		float: none !important;
		width: 100% !important;
		height: auto;
	}
	div#project-hero img, 
	div.project-feat img {
		width: auto;
		height: 350px;
		left: 50%;
		margin-left: -125%;
		position: relative;
	}
}
