@charset "UTF-8";
/* CSS Document 
-----------------------------------------------------
Enabled 2016
URL: http://www.enabled.com.au

Enabled http://www.enabled.com.au
Design by Josh Rogers and HTML/CSS by Nola Falk / Enabled Solutions

Last modified: Sep 30 2016
------------------------------------------------------ */


@import url("normalize.css");

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #9b9b9b;
	background-color: #DEDEDE;
}
.reduce {
	padding: 60px 0 0 0 !important;
}
body.index {
	padding:  0 !important; /* 60px 0 0 0 !important;*/
}
body.index div#wrapper {
	padding: 800px 0 0 0;
}
body.clip {
	overflow: hidden !important;
	position: fixed;
	width: 100%;
}
body.clip div#header {
	overflow: visible;
}
a {
	color: #553285;
	text-decoration: none;
	font-weight: 400;
}

h3 a {
	text-decoration: none;
	font-weight: 300;
}
a:hover {
	color: #5C388D;
}
a, a:hover, a:active, a:focus, object, embed, img, input, span, button {
	outline: 0 !important;
	border: 0;
}
img {
	width: auto\9; /* ie8 bug fix */
	 height:auto !important;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
div.container {
	max-width: 1120px;
	width: 93%;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
br.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
}
ul:after, 
div:after, 
ul.four-columns:after, 
div.container:after, 
.ourwork-feature:after, 
ul.three-columns:after, 
div.project-onecolumn:after,
div.project-twocolumns:after, 
div.project-twocolumnwide:after,
div.faq:after,
div.project-half:after, 
div.ourwork-half:after, 
ul#filters:after,
ul.faq-item:after,
.overlay nav:after{
	content: "";
	clear: both;
	display: table;
}
strong, b {
	font-style: normal;
	font-weight: 400;
}

p{
	margin: 0 0  10px 0;
}
/*------------ [Headings]------------*/
h1, h2, h3, h4, h5 {
	font-style: normal;
	line-height: 1em;
	margin: 0 0 25px 0;
	padding: 0;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	color: #2C2C2C;
	font-size: 62px;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #9a9a9a;
	font-size: 30px;
}
h3 {
	font-family: 'Open Sans', serif;
	font-weight: 300;
	color: #9a9a9a;
	font-size: 22px;
	line-height: 1.6em;
}
h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-size: 18px;
}
h5 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 12px;

}
div.project-center h2 {
	padding: 0 80px;
}
/*---------------[colours]-----------*/
.black{
	background-color: #000000;
}

.deepblack{
	background-color: #1e1d23;
}

.deepblack p{
	color: #9a9a9a !important;
}

.deepblack h1,
.deepblack h3{
	color: #e3e3e3 !important;
}
.dark-purple {
	background-color: #553285;
	color: #FFF !important;
}

.hca-purple{
	background-color: #4a1f79;
	color: #FFF !important;
}

.white {
	background-color: #FFF !important;
}

.light-teal{
	background-color: #daf7e8;
}

.light-teal h2{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.gradient-lilacspurple h1,
.gradient-lilacspurple h2,
.gradient-lilacspurple h3,
.lilac h1,
.lilac h2,
.lilac h3{
	color: #522683 !important;
}

.hca-purple h1,
.hca-purple h2,
.hca-purple h3,
.dark-purple h1, 
.dark-purple h2, 
.dark-purple h3, 
.dark-grey h1, 
.dark-grey h2, 
.dark-grey h3,
.purple h1,
.purple h2, 
.purple h3,
.red h1,
.red h2, 
.red h3,
.mediumred h1,
.mediumred h2, 
.mediumred h3{
	color: #FFF !important;
}
.dark-grey h3 {
	font-weight: 100;
}
.dark-grey p {
	color: #9A9A9A !important;
}
.purple {
	background-color: #5C388D;
	color: #FFF !important;
}

.dark-grey {
	background-color: #322F32;
	color: #FFF !important;
}
.project-video.grey {
	padding: 70px 0;
}
.grey {
	background-color: #FAFAFA;
}
.grey2{
	background-color: #F6F6F6;
}
.grey3{
	background-color: #E9EAF3;
}
.grey4{
	background-color: #F4F4F4;
}
.blue-grey {
	background-color: #EFF0F7;
}

.mediumred {
	background-color: #da5653;
}
.red {
	background-color: #E03A3E;
}

.lilac{
	background-color: #ede2f7;
}
.text-white {
	color: #FFF !important;
}
.text-red {
	color: #EA0921 !important;
}
.text-grey {
	color: #9F9F9F !important;
}
.text-lightgrey{
	color: #dddddd !important;
}
.text-darkgrey {
	color: #565656 !important;
}
.text-lightblue{
	color: #CCF7FF !important;
}
.text-royalblue{
	color: #346BD6 !important;
}
.text-yellow{
	color: #ffe600 !important;
}

.text-teal{
	color: #11947a !important;
}

.text-pale-teal{
	color: #b9d7c8;
}


/* embed youtube video */

.video-container{
	position:relative;
	padding-bottom:56.25%;
	padding-top:0;
	height:0;
	overflow:hidden;
	margin: 50px 0;
}

.video-container iframe,
.video-container object, 
.video-container embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/*--------------[arrows]-------------*/

.circle-down-arrow {
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	border: 3px solid #997CC0;
	width: 40px;
	padding: 0;
	text-align: center;
}
a .circle-down-arrow {
	text-decoration: none;
}
a:hover .circle-down-arrow {
	background-color: #FFF;
	border: 3px solid #FFF;
}
.circle-down-arrow svg {
	fill: #997CC0;
	width: 25px;
	height: 15px;
	margin: 14px 0 0 0;
}
.circle-down-arrow:hover svg {
	fill: #553285;
}
/*-------------[Layout]--------------*/
div#wrapper {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	/*height: auto !important;
	height: 100%;  IE6: treated as min-height;
	min-height: 100%;
	position: relative;*/
	z-index: 1;
	background-color: #FFF;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
	padding: 100px 0 0 0;
}
div#wrapper.page-home {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	height: auto !important;
	height: 100%; /* IE6: treated as min-height; */
	min-height: 100%;
	position: relative;
	z-index: 1;
	background-color: #FFF;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}
div#content-holder {
	padding: 0;
}
div.read-more {
	text-align: center;
	padding: 140px 0 0 0;
	color: #FFF;
	opacity: 1;
	transition: opacity 1s linear, padding 0.5s;
	-moz-transition: opacity 1s linear, padding 0.5s;
	-webkit-transition: opacity 1s linear, padding 0.5s;
}
.fixed div.read-more {
	display: none;
	opacity: 0;
}
/*-------------------home---------------*/

div.welcome-title {
	padding: 170px 0 0 0;
}
div.welcome-title h1, div.welcome-title h3 {
	color: #FFF;
}
div.welcome-title h1 {
	font-size: 120px;
	line-height: 1em;
	margin: 0 0 35px 0;
	font-weight: 900;
}
.image-holder {
	margin: 70px 0;
}
.image-holder img.desktop {
	display: inline-block;
}
.image-holder img.mobile {
	display: none;
}
/*---------------header-----------------*/
div#header {
	background-color: #553285;
	max-width: 1440px;
	width: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	-webkit-transform: translateZ(0);/* Forces GPU rendering on mobile */
	-moz-transform: translateZ(0);/*    Forces GPU rendering on mobile */
	transform: translateZ(0);/*         Forces GPU rendering on mobile */
	overflow: hidden;
	z-index: 99;
	height: 100px;
}
.fullscreen-video {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	 height:auto !important;
	background-size: cover;
}
div.header-content {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(133, 77, 163, 0.8) 30%), to(#553285));
	background-image: -webkit-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: -moz-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: -o-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: -ms-linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
	background-image: linear-gradient(318deg, rgba(133, 77, 163, 0.8) 30%, #553285);
}
.hidden, .fixed .hero-slider {
	display: none !important;
}
.fixed div.header-content {
	background-image: none;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	height: 60px !important;
	overflow: hidden;
	background-image: none !important;
	/* RGBa with 0.95 opacity */
	background-color: rgba(85, 50, 134, 0.95) !important;
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2553286, endColorstr=#F2553286) !important;
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2553286, endColorstr=#F2553286)" !important;
}
.fixed div#top {
	padding: 13px 0 0 0;
}
div#header.home {
	height: 800px;
	background: url(../images/img_header.jpg) no-repeat top center fixed;
	-webkit-background-size: 1440px 800px;
	-moz-background-size: 1440px 800px;
	-o-background-size: 1440px 800px;
	background-size: 1440px 800px;
	
	background-color: rgba(85,50,133,0.8);
}
div#header.case-study {
	height: 100px; /*152*/
}
div#top {
	padding: 30px 0 0 0;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}
div#logo {
	float: left;
	width: 126px;
	height: 32px;
}
/*------------footer------------*/
div#footer {
	/*height: 152px;
	position: absolute;
	bottom: 0;*/
	padding-bottom: 30px;
	width: 100%;
	background-color: #FFF;
}
div#footer-logo {
	padding: 25px 0 0 0;
	float: left;
	width: 180px;
	height: 50px;
}
div#footer-contactinfo {
	padding: 45px 0 0 0;
	float: left;
	 height:auto !important;
	font-size: 16px;
}
div#footer-buttons {
	padding: 30px 0 0 0;
	float: right;
	height: 45px;
}
/*----------[Buttons]---------------*/
.title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 44px;
	color: #555555;
	margin: 0 0 10px 0;
}
.sub-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-style: normal;
	color: #9a9a9a;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.arrow-right {
	color: #543384;
	font-size: 24px;
}
a.btn {
	margin: 0 25px 15px 30px;
	padding: 6px 15px 6px 30px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-style: normal;
}
div.big-btn {
	border: 4px solid #f6364b;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 20px 0 40px 0;
	background-color: #f6364b;
	-webkit-border-radius: 46px;
	-moz-border-radius: 46px;
	border-radius: 46px;
}
div.big-btn .down {
	font-size: 30px;
	color: #FFF;
	display: inline-block;
	margin: 0 0 0 30px;
	font-family: 'Roboto Slab', serif;
}
div.big-btn a {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 100%;
	padding: 20px 110px;
	color: #f6364b;
}
div.big-btn a h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
	font-size: 42px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

div.big-btn:hover {
	opacity: 0.8;
}
div.big-btn a:hover {
	display: block;
	color: #FFF;
}
div.big-btn a:hover span {
	color: #FFF;
}
div.big-btn span {
	display: block;
}

/* apply */

div.med-btn {
	border: 4px solid #b8b7c6;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 20px 0;
	background-color: #b8b7c6;
	-webkit-border-radius: 46px;
	-moz-border-radius: 46px;
	border-radius: 46px;
}
div.med-btn .down,
div.med-btn .right{
	font-size: 24px;
	color: #FFF;
	display: inline-block;
	margin: 0 0 0 30px;
	font-family: 'Roboto Slab', serif;
}
div.med-btn a {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 100%;
	padding: 20px 50px;
	color: #f6364b;
}
div.med-btn a h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
	font-size: 28px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

div.med-btn:hover {
	border: 4px solid #f6364d;
	background-color: #f6364d;
	
}
div.med-btn a:hover {
	display: block;
	color: #FFF;
}
div.med-btn a:hover span {
	color: #FFF;
}
div.med-btn span {
	display: block;
}
/* lets chat */
a.button-letschat {
	background-color: #f6364b; /* pink red */
	color: #FFF;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	border: 2px solid #f6364b;
}
a.button-letschat:hover {
	border: 2px solid #fa5166;
	background-color: #fa5166;
}
a.button-ourwork {
	background-color: #543384; /* enabled purple */
	border: 2px solid #543384;
	color: #FFF;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
a.button-ourwork:hover {
	border: 2px solid #7954ab;
	background-color: #7954ab;
}
span.icon {
	margin: 0 0 0 20px;
}
/*--------------------filters-----------------*/

ul#filters {
	list-style: none;
	list-style-type: none;
	text-align: center;
	display: block;
	margin: 40px 0 0 0;
	padding: 0;
}
ul#filters li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul#filters li span {
	display: block;
	padding: 5px 14px;
	text-decoration: none;
	color: #9a9a9a;
	cursor: pointer;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
ul#filters li span.active {
	background: #f6364b;
	color: #fff;
}
/*-------------------more work-----------------*/
ul#portfolio-list li.mix, ul#team-list li.mix  {
	display: none;
}
ul.more-work li {
	width: 98%;
	margin: 0 0 30px 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	 height:auto !important;
}
div.work-info {
	display: block;
	width: 95%;
	min-height: 210px;
	height: auto !important;
	height: 210px;
	margin: 0 auto 15px auto;
	line-height: 1.8em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.work-image, div.work-image a {
	overflow: hidden;
	width: 100%;
	height: 215px;
	text-align: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
}
div.work-image a img {
	max-width: 768px;
	width: 768px;
	height: 215px;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -384px;
}
div.work-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-size: 14px;
}
div.work-text h4 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
	font-size: 18px;
}
div.work-postby {
	width: 180px;
	height: 35px;
	margin: 0 auto;
}
div.work-postby span {
	float: left;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	border-radius: 50%;
}
div.work-postby div.post-name {
	float: left;
	padding: 0 0 0 15px;
	height: 30px;
}
/*-------------four column lists-------------*/
ul.four-columns {
	list-style: none;
	list-style-type: none;
	margin: 80px 0 60px 0;
	padding: 0;
}
ul.four-columns li {
	width: 25%;
	 height:auto !important;
	text-align: center;
	float: left;
	display: inline-block;
	margin: 0 0 10px 0;
}
ul.four-columns.logos img {
	width: 95%;
	 height:auto !important;
}
/*-------------three column lists-------------*/
ul.three-columns {
	list-style: none;
	list-style-type: none;
	margin: 80px 0 60px 0;
	padding: 0;
}
ul.three-columns li {
	width: 33%;
	 height:auto !important;
	text-align: center;
	float: left;
	display: inline-block;
	margin: 0 0 10px 0;
}
ul.three-columns.logos img {
	width: 95%;
	 height:auto !important;
}

/* action */

#ask-anything div.action-header{
	margin-left: 200px;
}
div.action-header{
	margin-left: 250px;
}

div.action-left {
	padding: 220px 0;
	text-align: left;
}

div.action-center {
	padding: 220px 0;
	text-align: center;
}

div.action-left h5, 
div.action-center h5{
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding:0;
	font-weight: 400;
	font-style: normal;
}

span.action-title{
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 44px;
	text-transform: uppercase;
	font-style: normal;
}

span.action-title a{
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 100;
	color: #FFF;
	font-size: 42px;
	text-transform: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #FFF;
	cursor: pointer;
	white-space: nowrap;
}

span.action-title a:hover{
	opacity: 0.8;
}

/*-------------[content slider]---------------*/
.align-right {
	text-align: right !important;
}
.float-right {
	float: right !important;
}
.align-left {
	text-align: left !important;
}
.float-left {
	float: left !important;
}

.align-center {
	text-align: center !important;
}
/* hero slider */

.hero-slider {
	width: 1440px;
	height: 800px;
	overflow: hidden;
	position: absolute !important;
	display: none !important;
	visibility: hidden;
	text-align: center;
}
.hero-slider img {
	height: 800px;
	width: 1440px;
	margin: 0 auto;
	display: block;
}
/* content slider */

.content-slider {
	width: 100%;
	min-height: 500px;
	height: auto !important;
	height: 500px;
	/*overflow: hidden;*/
	position: relative;
	display: block;
}
.slide-content {
	float: left;
	z-index: 1;
	min-height: 500px;
	height: auto !important;
	height: 500px;
	width: 100%;
	display: inline-block;
	background-color: #FFF;
}

.services-slider .slide-content,
.services-slider .slide-text{
	background-color: transparent;
}

.slide-icon {
	width: 100%;
	height: 265px;
	text-align: center;
}
.slide-text {
	margin: 20px 0 0 0;
	padding: 0 50px;
	background-color: #FFF;
	height: 250px;
	height:auto !important;
	min-height: 250px;
	 
}
.content-slider nav {
	position: absolute;
	top: 270px;
	left: 1px;
	right: 0;
	margin: 0 120px 0 250px;
	padding: 0;
	height: 20px;
	width: 700px;
	z-index: 2;
	background-image: url(../images/img_slider.png);
	background-repeat: repeat-x;
	background-position: center center;
}
.content-slider nav a {
	width: 114px;
	height: 20px;
	display: inline-block;
	text-align: left;
}
.content-slider nav a span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #BABABA;
	display: inline-block;
	text-indent: -9999px;
}
div.column-left {
	float: left;
	width: 345px;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.text-small-left {
	float: left;
	width: 350px;
	padding: 20px 0 0 0;
	min-height: 380px;
	height: auto !important;
	height: 380px;
	line-height: 1.6em;
	font-size: 24px;
}
div.column-right {
	float: right;
	width: 345px;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.text-small-right {
	float: right;
	width: 350px;
	padding: 20px 0 0 0;
	min-height: 380px;
	height: auto !important;
	height: 380px;
	line-height: 1.6em;
	font-size: 24px;
}
div.text-wide-right {
	float: right;
	width: 710px;
}
div.text-wide-left {
	float: left;
	width: 710px;
}

div.text-center {
	padding: 70px 0 0 0;
	min-height: 660px;
	height: auto !important;
	height: 660px;
	text-align: center;
}
div.info {
	display: block;
	width: 290px;
	min-height: 210px;
	height: auto !important;
	height: 210px;
	margin: 0 auto;
	line-height: 1.8em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.info-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
}
div.intro-left h4,
div.jobs-left h4{
	font-weight: 400;
	color: #AAA;
	margin: 0 0 10px 0;
}
div.intro-left h4:after,
div.jobs-left h4:after {
	width: 55px;
	height: 5px;
	display: block;
	content: '';
	margin: 5px 0 0 0;
	border-bottom: 2px solid #AAAAAA;
}
div.info h4 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
}
div.intro-left h3,
div.jobs-left h3 {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	margin: 0;
	color: #575656;
	font-size: 24px;
	margin-top: 10px;
	padding:0;
}
div.info-icon {
	max-height: 170px;
}

div.intro-left {
	float: left;
	width: 360px;
	padding-left: 40px; /* 360px */
}
div.intro-right {
	float: right;
	width: 650px;
}
/*-----------[jobs]--------*/

div.jobs-left {
	float: left;
	width: 200px;
}

div.jobs-right {
	float: right;
	width: 830px; /* 710px */
	padding: 32px 0 50px 0;
}

/*-----------[map]---------*/

div.map {
	overflow: hidden;
	height: 420px;
	width: 710px;
	padding-top: 15px;
}
div#gmap_canvas {
	height: 420px;
	width: 710px;
}
/*---------[social]---------*/

a.social {
	text-indent: -9999px;
	margin: 0 10px 0 0;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	opacity: 0.7;
}
a.social:hover {
	opacity: 1;
}
a.twitter {
	background-image: url(../images/icon_twitter.svg);
}
a.twitter:hover {
	background-image: url(../images/icon_twitter_hover.svg);
}
a.linkedin {
	background-image: url(../images/icon_linkedin.svg);
}
a.linkedin:hover {
	background-image: url(../images/icon_linkedin_hover.svg);
}
a.googleplus {
    background-image: url(../images/icon_googleplus_normal.svg);
}
a.googleplus:hover {
    background-image: url(../images/icon_googleplus_hover.svg);
}
a.dribbble {
    background-image: url(../images/icon_dribbble_normal.svg);
}
a.dribbble:hover {
    background-image: url(../images/icon_dribbble_hover.svg);
}
a.instagram {
    background-image: url(../images/icon_instagram_normal.svg);
}
a.instagram:hover {
    background-image: url(../images/icon_instagram_hover.svg);
}

a.footer-social {
	text-indent: -9999px;
    margin: 5px 10px 0 0;
    float: left;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
}

a.footer-social:hover {
	opacity: 0.8;
}

a.footer-twitter {
	background-image: url(../images/ic_twitter.svg);
}

a.footer-linkedin {
	background-image: url(../images/ic_linkedin.svg);
}

a.footer-googleplus {
    background-image: url(../images/ic_googleplus.svg);
}

a.footer-dribbble {
    background-image: url(../images/icon_dribbble_hover.svg);
}

a.footer-instagram {
    background-image: url(../images/icon_instagram_hover.svg);
}

/*---[project----*/

div.project-more {
	height: 350px;
	text-align: center;
	padding: 70px 0 0 0;
}
div.project-video {
	text-align: center;
	padding: 0;
}
/*-----------menu navicon transformation---------*/

div#menu {
	float: right;
	width: 30px;
	height: 61px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 100;
}
.nav-icon {
	width: 30px;
}
.nav-icon:after, .nav-icon:before, .nav-icon span {
	background-color: #fff;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: '';
	display: block;
	height: 2px;
	margin: 8px 0;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
body.clip .nav-icon.cross:before {
	-moz-transform: translateY(12px) rotate(135deg);
	-webkit-transform: translateY(12px) rotate(135deg);
		transform: translateY(12px) rotate(135deg);

}
body.clip .nav-icon.cross:after {
	-moz-transform: translateY(-12px) rotate(-135deg);
	-webkit-transform: translateY(-12px) rotate(-135deg);
		transform: translateY(-12px) rotate(-135deg);

}
body.clip .nav-icon.cross span {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
/*---------------[overlay]----------------*/

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(85, 50, 134,1);
	z-index: 99;
}
/*--------------Overlay closing cross--------*/
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	float: right;
	margin: 22px 0 0 0;
	overflow: hidden;
	border: none;
	background-image: url(../images/icon-closed.png);
	background-repeat: no-repeat;
	background-color: transparent;
	text-indent: 200%;
	color: transparent;
	z-index: 100;
}
/*------------Menu style----------*/
.overlay nav {
	text-align: center;
	position: relative;
	top: 35%;
	height: 60%;
	font-size: 42px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
}
.overlay ul li {
	display: block;/*height: 20%;
	height: calc(100% / 5);*/
}
.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	padding: 5px 0;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
}
.overlay ul li a:hover, .overlay ul li a:focus {
	color: #553285; /*#ddc6e5*/
	background-color: #FFF;
}
/*----------------[Effects]-------------------*/
.overlay-enabled {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	-moz-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-enabled.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay-enabled nav {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}
.overlay-enabled nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	-moz-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.overlay-enabled.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.overlay-enabled.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	-moz-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}