@charset "UTF-8";
/* CSS Document 
-----------------------------------------------------
Enabled 2015
URL: http://www.enabled.com.au

Enabled http://www.enabled.com.au
Design by Josh Rogers and HTML/CSS by Nola Falk / Enabled Solutions

Last modified: Mar 20 2015
------------------------------------------------------ */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #9b9b9b;
	background-color: #DEDEDE;
}
.reduce {
	padding: 90px 0 0 0 !important;
}
body.index {
	padding: 90px 0 0 0 !important;
}
body.index div#wrapper {
	padding: 800px 0 0 0;
}
body.clip {
	overflow: hidden !important;
	position: fixed;
	width: 100%;
}
body.clip div#header {
	overflow: visible;
	
}
a {
	color: #553285;
	text-decoration: none;
	font-weight: 400;
}
a:hover {
	color: #5C388D;
}
a, a:hover, a:active, a:focus, object, embed, img, input, span, button {
	outline: 0 !important;
	border: 0;
}
img{
 width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
div.container {
	max-width: 1120px;
	width: 93%;
	margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
br.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
}
div.container:after, ul.three-columns:after,div.project-twocolumns:after, div.project-half:after{
	content: "";
	display: block;
	clear: both;
}
strong, b {
	font-style: normal;
	font-weight: 400;
}
/*------------ [Headings]------------*/
h1, h2, h3, h4 {
	font-style: normal;
	line-height: inherit;
	margin: 0 0 25px 0;
	padding: 0;
}
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #565656;
	font-size: 58px;
}
h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #9a9a9a;
	font-size: 34px;
}
h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #9a9a9a;
	font-size: 22px;
	line-height: 1.6em;
}
h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-size: 18px;
}
div.project-center h2 {
	padding: 0 80px;
}
/*---------------[colours]-----------*/

.dark-purple {
	background-color: #553285;
	color: #FFF !important;
}
.white {
	background-color: #FFF !important;
}
.dark-purple h1, .dark-purple h2, .dark-purple h3, .dark-grey h1, .dark-grey h2, .dark-grey h3 {
	color: #FFF !important;
}
.dark-grey h3{
	font-weight: 100;
}
.dark-grey p {
	color: #9A9A9A !important;
}
.purple {
	background-color: #5C388D;
	color: #FFF !important;
}
.purple h1, .purple h2, .purple h3 {
	color: #FFF !important;
}
.dark-grey {
	background-color: #322F32;
	color: #FFF !important;
}

.project-video.grey{
	padding:70px 0;
}

.grey {
	background-color: #F6F6F6;
}
.blue-grey {
	background-color: #EFF0F7;
}
.red {
	background-color: #E03A3E;
}
.text-red {
	color: #E03A3E !important;
}
.text-grey {
	color: #9F9F9F !important;
}
/*--------------[arrows]-------------*/

.circle-down-arrow {
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	border: 3px solid #997CC0;
	width: 40px;
	padding: 0;
	text-align: center;
}
a .circle-down-arrow {
	text-decoration: none;
}
a:hover .circle-down-arrow {
	background-color: #FFF;
	border: 3px solid #FFF;
}
.circle-down-arrow svg{
	fill: #997CC0;
	width: 25px;
	height: 15px;
	margin: 14px 0 0 -2px;
}

.circle-down-arrow:hover svg{
	fill: #553285;
}

/*-------------[Layout]--------------*/
div#wrapper {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	height: auto !important;
	height: 100%; /* IE6: treated as min-height; */
	min-height: 100%;
	position: relative;
	z-index: 1;
	background-color: #FFF;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
	padding: 152px 0 0 0;
}
div#wrapper.home {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
	height: auto !important;
	height: 100%; /* IE6: treated as min-height; */
	min-height: 100%;
	position: relative;
	z-index: 1;
	background-color: #FFF;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}
div#content-holder {
	padding: 0 0 152px 0; /* footer height*/
}
div.read-more {
	text-align: center;
	padding: 140px 0 0 0;
	color: #FFF;
}
/*-------------------home---------------*/

div.welcome-title {
	padding: 170px 0 0 0;
}
div.welcome-title h1, div.welcome-title h3 {
	color: #FFF;
}
div.welcome-title h1 {
	font-size: 120px;
	line-height: 1em;
	margin: 0 0 35px 0;
}
.image-holder {
	margin: 70px 0;
}

.image-holder img.desktop{
	display: inline-block;
}

.image-holder img.mobile{
	display: none;
}

/*---------------header-----------------*/
div#header {
	background-color: #553285;
	max-width: 1440px;
	width: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left: auto;
	right: auto;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	-webkit-transform: translateZ(0);/* Forces GPU rendering on mobile */
	-moz-transform: translateZ(0);/*    Forces GPU rendering on mobile */
	transform: translateZ(0);/*         Forces GPU rendering on mobile */
	overflow: hidden;
	z-index: 99;
	height: 152px;
}
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	height: 90px !important;
	overflow: hidden;
	background-image: none !important;
	/* RGBa with 0.95 opacity */
	background-color: rgba(85, 50, 134, 0.95) !important;
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2553286, endColorstr=#F2553286) !important;
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F2553286, endColorstr=#F2553286)" !important;
}
.fixed div#top {
	padding: 25px 0 0 0;
}
.fixed div#top {
	padding: 25px 0 0 0;
}
div#header.home {
	height: 800px;
	background: url(../images/img_header.jpg) no-repeat top center fixed;
	-webkit-background-size: 1440px 800px;
	-moz-background-size: 1440px 800px;
	-o-background-size: 1440px 800px;
	background-size: 1440px 800px;
}
div#header.case-study {
	height: 152px;
}
div#top {
	padding: 20px 0 0 0;
	-webkit-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	transition: padding 0.3s;
}
div#logo {
	float: left;
	width: 126px;
	height: 32px;
}
/*------------footer------------*/
div#footer {
	height: 152px;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #FFF;
}
div#footer-logo {
	padding: 55px 0 0 0;
	float: left;
	width: 180px;
	height: 50px;
}
div#footer-contactinfo {
	padding: 75px 0 0 0;
	float: left;
	height: auto;
	font-size: 16px;
}
div#footer-buttons {
	padding: 60px 0 0 0;
	float: right;
	height: 45px;
}
/*----------[Buttons]---------------*/
.title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 44px;
	color: #555555;
	margin: 0 0 10px 0;
}
.sub-title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-style: normal;
	color: #9a9a9a;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.arrow-right {
	color: #543384;
	font-size: 24px;
}
a.btn {
	margin: 0 25px 25px 0;
	padding: 6px 15px 6px 30px;
	display: inline-block;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-style: normal;
}
div.big-btn {
	border: 4px solid #f6364b;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	margin: 20px 0 40px 0;
	background-color: #f6364b; 
	-webkit-border-radius: 46px;
	-moz-border-radius: 46px;
	border-radius: 46px;
}

div.big-btn .down{
	font-size: 30px;
	color: #FFF;
	display: inline-block;
	margin: 0 0 0 30px;
}
div.big-btn a {
	display: block;
	text-decoration: none;
	text-align: center;
	height: 100%;
	padding: 20px 110px;
	color: #f6364b;
}

div.big-btn a h2{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	color: #FFF;
	font-size: 42px;
	margin: 0;
	padding:0;
	display: inline-block;
}:
div.big-btn a:hover {
	display: block;
	color: #FFF;
	background-color: #f6364b;
}
div.big-btn a:hover span {
	color: #FFF;
}
div.big-btn span {
	display: block;
}
a.button-letschat {
	background-color: #f6364b; /* pink red */
	color: #FFF;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	border: 2px solid #f6364b;
}
a.button-letschat:hover {
	border: 2px solid #fa5166;
	background-color: #fa5166;
}
a.button-ourwork {
	background-color: #543384; /* enabled purple */
	border: 2px solid #543384;
	color: #FFF;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
a.button-ourwork:hover {
	border: 2px solid #7954ab;
	background-color: #7954ab;
}
span.icon {
	margin: 0 0 0 20px;
}
/*-------------three column lists-------------*/
ul.three-columns {
	list-style: none;
	list-style-type: none;
	margin: 80px 0 60px 0;
	padding: 0;
}
ul.three-columns li {
	width: 33%;
	height: auto;
	text-align: center;
	float: left;
	display: inline-block;
	margin: 0 0 10px 0;
}
ul.three-columns.logos img {
	width: 95%;
	height: auto;
}
/*---- team---*/

ul.three-columns.team h4 {
	margin: 0;
	color: #565656;
}
ul.three-columns.team div.info-icon a {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	text-indent: -9999px;
}
ul.three-columns.team div.info-icon {
	margin: 0 0 10px 0;
}
ul.three-columns.team div.info-icon a:hover {
	background-position: 0 -170px;
}
ul.three-columns.team li {
	margin: 0 0 20px 0;
	height: 300px; /*480*/
}
ul.three-columns.team div.info-text {
	font-size: 14px;
	line-height: 1.7em;
}
a.team-grant {
	background-image: url(../images/img_teamphotos_grant.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-craig {
	background-image: url(../images/img_teamphotos_craig.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-james {
	background-image: url(../images/img_teamphotos_james.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-simeon {
	background-image: url(../images/img_teamphotos_simeon.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-dylan {
	background-image: url(../images/img_teamphotos_dylan.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-nola {
	background-image: url(../images/img_teamphotos_nola.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-josh {
	background-image: url(../images/img_teamphotos_josh.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-peter {
	background-image: url(../images/img_teamphotos_peter.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-heath {
	background-image: url(../images/img_teamphotos_heath.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-john {
	background-image: url(../images/img_teamphotos_john.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
a.team-colin {
	background-image: url(../images/img_teamphotos_colin.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
/*------------------[Info] -------------------*/

div.info {
	display: block;
	width: 290px;
	height: 210px;
	min-height: 210px;
	height: auto;
	margin: 0 auto;
	line-height: 1.8em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.info-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
}
div.intro-left h4 {
	font-weight: 400;
	color: #AAA;
	margin: 0 0 10px 0;
}
div.intro-left h4:after {
	width: 55px;
	height: 5px;
	display: block;
	content: '';
	margin: 5px 0 0 0;
	border-bottom: 2px solid #AAAAAA;
}
div.info h4 {
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
}
div.intro-left h3 {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	margin: 0;
	color: #575656;
	font-size: 26px;
}
div.info-icon {
	max-height: 170px;
}
/*-------------[project intro]----------------*/
div.project-intro {
	padding: 80px 0;
	height: 140px;
	min-height: 140px;
	height: auto;
}
div.intro-left {
	float: left;
	width: 360px;
}
div.intro-right {
	float: right;
	width: 550px;
}

/* project-half*/
div.project-half{
	width: 100%;
	display: block;
}

div.half-left{
	float: left;
	width: 50%;
	height: 100%;
}

div.half-right{
	float: right;
	width: 50%;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div.half-right h2, div.half-left h2{
	margin: 0 auto;
	padding: 80px 105px;
	font-size: 28px;
	font-weight: 100;
	line-height: 1.6em;
	color: #9A9A9A !important;
}
div.half-right p, div.half-left p{
	padding: 0 105px;
	font-size: 20px;
	font-weight: 100;
	color: #FFF !important;
	margin: 0 auto;
}

div.half-right img, div.half-left img{
	max-width: 720px;
	width: 100%;
	height: auto;
}

.no-top-spacing{
	padding-top:0 !important;
	margin-top:0 !important;
}

.no-bottom-spacing{
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}

.no-spacing{
	padding:0 !important;
	margin:0 !important;
}

/*------------[case study feature]------------*/

div.feature-casestudy {
	display: block;
	width: 340px;
	height: 523px;
	min-height: 210px;
	height: auto;
	margin: 0 auto;
	line-height: 1.8em;
	text-align: left;
}
div.feature-casestudy-text {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	min-height: 260px;
	height: 260px;
	height: auto;
	padding: 15px;
	background-color: #FFF;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.feature-casestudy-text h4 {
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	margin: 15px 0 0 0;
	color: #565656;
}
div.feature-casestudy-text p {
	min-height: 100px;
	display: block;
}
a.view-casestudy {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 700;
	color: #F16668;
	text-decoration: none;
}
div.feature-casestudy-image {
	min-height: 256px;
	background-color: #F1F1F1;
}

div.feature-casestudy-image a{
	text-indent: -9999px;
	display: block;
	min-height: 256px;
	width: 100%;
}
div.casestudy1 {
	background-image: url(../images/img_casestudy1.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
div.casestudy2 {
	background-image: url(../images/img_casestudy2.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
div.casestudy3 {
	background-image: url(../images/img_casestudy3.jpg);
	background-repeat: repeat-x;
	background-position: center center;
}
a.view-casestudy:after {
	margin: 0 0 0 15px;
	color: #9A9A9A;
	content: '\2192';
}
/*-------------[content slider]---------------*/
.align-right {
	text-align: right;
}
.float-right {
	float: right;
}
.align-left {
	text-align: left;
}
.float-left {
	float: left;
}
.content-slider {
	width: 100%;
	height: 500px;
	min-height: 500px;
	height: auto;
	overflow: hidden;
	position: relative;
	display: block;
}
.slide-content {
	float: left;
	z-index: 1;
	height: 500px;
	min-height: 500px;
	height: auto;
	width: 100%;
	display: inline-block;
	background-color: #FFF;
}
.slide-icon {
	width: 100%;
	height: 265px;
	text-align: center;
}
.slide-text {
	margin: 20px 0 0 0;
	padding: 0 50px;
	background-color: #FFF;
	height: 250px;
	min-height: 250px;
	height: auto;
}
.content-slider nav {
	position: absolute;
	top: 270px;
	left: 1px;
	right: 0;
	margin: 0 120px 0 250px;
	padding: 0;
	height: 20px;
	width: 700px;
	z-index: 2;
	background-image: url(../images/img_slider.png);
	background-repeat: repeat-x;
	background-position: center center;
}
.content-slider nav a {
	width: 114px;
	height: 20px;
	display: inline-block;
	text-align: left;
}
.content-slider nav a span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #BABABA;
	display: inline-block;
	text-indent: -9999px;
}
/*------------[Project/Case Study]------------*/

.app-icon{
	margin: 20px 10px;
}

div#project-hero, div.project-feat {
	text-align: center;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

div.project-animated{
	height: 450px;
	text-align: center;
}
	
div#project-hero img, div.project-feat img {
	max-width: 1440px;
	width: 100%;
	height: auto;
}

/* project center */
div.award h1{
	color: #d2a532 !important;
	margin: 25px 0;
}

div.award h3.award-name{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0;
	color: #565656;
}

div.project-center, div.text-center {
	padding: 70px 0;
	height: 140px;
	min-height: 140px;
	height: auto;
	text-align: center;
}
/* project features*/
div.project-features {
	background-repeat: no-repeat;
	background-position: 0 0;
	min-height: 600px;
	height: 600px;
	height: auto;
	color: #FFF;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-weight: 100;
	font-size: 22px;
	text-align: center;
	display: block;
}


div.project-features ul { 
	list-style-type: none; 
	list-style: none;
	text-align: center; 
	margin: 0;
	padding: 40px 0 0 0;
}
div.project-features li::before { 
	content: "\2022 ";
	margin: 0 15px 0 0;
}

div.project-features li{
	margin: 0 0 20px 0;
}

div.project-features p{
	padding: 90px 0 0 0;
	margin: 0;
}

div.project-features.cca-feat{
	background-image: url(../images/img_hero_cca4.jpg);
}

div.project-features.cca-feat div.project-features ul{
	padding: 20px  0 0 0;
}

div.project-features.cca-feat p{
	padding: 60px 0 0 0;
	margin: 0;
}

div.project-features.wah-feat{
	background-image: url(../images/img_hero_wah6.jpg);
	min-height: 350px;
	height: 350px;
	height: auto;
}

/* project quote */
div.project-results {
	background-repeat: no-repeat;
	background-position: 0 0;
	min-height: 300px;
	height: 300px;
	height: auto;
}

.quote-clipsal{
	background-image: url(../images/img_testimonial.jpg);
}

.quote-cca{
	background-image: url(../images/img_testimonial2.jpg);
}

.quote-wah{
	background-image: url(../images/img_testimonial3.jpg);
	min-height: 300px;
	height: 300px;
	height: auto;
}

div.project-results .quote{
	padding: 140px 0;
}

div.project-results div.client-name, div.project-results div.client-title {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	padding: 0 0 10px 0;
}
div.project-results div.client-name {
	font-size: 22px;
	color: #FFF;
	padding: 50px 0 10px 0;
}
div.project-results div.client-title {
	font-size: 14px;
	color: #CA9EE8;
}
blockquote:before, blockquote:after {
	content: '"';
	height: 10px;
}

/* two columns */

div.project-twocolumns {
	max-width: 730px;
	margin: 0 auto;
}
div.project-results blockquote {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	line-height: 1.6em;
	max-width: 800px;
	padding: 0;
	margin: 0 auto;
}

div.project-twocolumns p, div.project-twocolumns li {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	line-height: 1.8em;
}
div.project-twocolumns li {
	margin: 0 0 10px 0;
}
div.project-twocolumns, div.twocolumns {
	height: 200px;
	min-height: 200px;
	height: auto;
	padding: 70px 0;
	text-align: center;
}
div.project-twocolumns h1 {
	font-size: 70px;
}
div.column-left {
	float: left;
	width: 345px;
	height: 300px;
	min-height: 300px;
	height: auto;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.text-small-left {
	float: left;
	width: 350px;
	height: 380px;
	padding: 20px 0 0 0;
	min-height: 380px;
	height: auto;
	line-height: 1.6em;
	font-size: 24px;
}
div.column-right {
	float: right;
	width: 345px;
	height: 300px;
	min-height: 300px;
	height: auto;
	text-align: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
div.text-small-right {
	float: right;
	width: 350px;
	height: 380px;
	padding: 20px 0 0 0;
	min-height: 380px;
	height: auto;
	line-height: 1.6em;
	font-size: 24px;
}
div.text-wide-right {
	float: right;
	width: 710px;
}
div.text-wide-left {
	float: left;
	width: 710px;
}
/*-----------[map]---------*/

div.map {
	overflow: hidden;
	height: 420px;
	width: 710px;
	padding-top: 15px;
}
div#gmap_canvas {
	height: 420px;
	width: 710px;
}
/*---------[social]---------*/

a.social {
	text-indent: -9999px;
	margin: 0 15px 0 0;
	background-size: 70px 70px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 70px;
	height: 70px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	opacity: 0.7;
}
a.social:hover {
	opacity: 1;
}
a.twitter {
	background-image: url(../images/icon_twitter.svg);
}
a.twitter:hover {
	background-image: url(../images/icon_twitter_hover.svg);
}
a.linkedin {
	background-image: url(../images/icon_linkedin.svg);
}
a.linkedin:hover {
	background-image: url(../images/icon_linkedin_hover.svg);
}
/*---[project----*/


div.project-more {
	height: 350px;
	text-align: center;
	padding: 70px 0 0 0;
}

div.project-video {
	text-align: center;
	padding: 0;
}
/*-----------menu navicon transformation---------*/

div#menu {
	float: right;
	width: 40px;
	height: 61px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	z-index: 100;
}
.nav-icon {
	width: 40px;
}
.nav-icon:after, .nav-icon:before, .nav-icon span {
	background-color: #fff;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: '';
	display: block;
	height: 2px;
	margin: 10px 0;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
body.clip .nav-icon.cross:before {
	transform: translateY(12px) rotate(135deg);
	-moz-transform: translateY(12px) rotate(135deg);
	-webkit-transform: translateY(12px) rotate(135deg);
}
body.clip .nav-icon.cross:after {
	transform: translateY(-12px) rotate(-135deg);
	-moz-transform: translateY(-12px) rotate(-135deg);
	-webkit-transform: translateY(-12px) rotate(-135deg);
}
body.clip .nav-icon.cross span {
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
}
/*---------------[overlay]----------------*/

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(85, 50, 134,1);
	z-index: 99;
}

/*--------------Overlay closing cross--------*/
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	float: right;
	margin: 22px 0 0 0;
	overflow: hidden;
	border: none;
	background-image: url(../images/icon-closed.png);
	background-repeat: no-repeat;
	background-color: transparent;
	color: #FFF;
	text-indent: 200%;
	color: transparent;
	z-index: 100;
}
/*------------Menu style----------*/
.overlay nav {
	text-align: center;
	position: relative;
	top: 35%;
	height: 60%;
	font-size: 48px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
}
.overlay ul li {
	display: block;
	/*height: 20%;
	height: calc(100% / 5);*/
}
.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	padding: 5px 0;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-style: normal;
}
.overlay ul li a:hover, .overlay ul li a:focus {
	color: #553285; /*#ddc6e5*/
	background-color: #FFF;
}
/*----------------[Effects]-------------------*/
.overlay-enabled {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	-moz-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.overlay-enabled.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay-enabled nav {
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}
.overlay-enabled nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	-moz-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.overlay-enabled.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
}
.overlay-enabled.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	-moz-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media (min-width: 1200px) and (max-width: 1300px) {
	div.half-right h2, div.half-left h2{
		margin: 0 auto;
		padding: 80px 95px;
		font-size: 24px;
		font-weight: 100;
		line-height: 1.5em;
		color: #9A9A9A !important;
	}
	
	div.half-right p, div.half-left p{
		padding: 0 95px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 20px 0;
	}
	div.feature-casestudy {
		width: 90%;
	}
	div.text-small-left {
		float: left;
		width: 300px;
		margin: 0 auto;
		min-height: 250px;
		height: 250px;
		height: auto;
	}
	div.text-wide-right {
		float: right;
		width: 650px;
		margin: 0 auto;
		min-height: 250px;
		height: 250px;
		height: auto;
	}
	div.map, div#gmap_canvas {
		width: 98%;
		height: 300px;
		margin: 0 auto;
		padding: 15px 0 30px 0;
	}
	div#content-holder {
		padding-bottom: 200px;
	}
	div#footer {
		height: 200px;
	}
	
	/* iframe*/
	.project-video iframe, .project-video object, .project-video embed { 
		height: 450px;
		width: 90%;
		margin: 0 auto;
	}
	
	div.half-right h2, div.half-left h2{
		padding: 40px 50px;
		font-size: 22px;
	}
	div.half-right p, div.half-left p{
		padding: 0 50px;
		font-size: 18px;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	div.welcome-title h1 {
		font-size: 80px;
	}
	ul.three-columns li, ul.three-columns.team li {
		width: 98%;
		margin: 0 0 30px 0;
	}
	ul.three-columns.team li {
		min-height: 210px;
		height: 210px;
		height: auto;
	}
	ul.three-columns.team div.info-icon {
		float: left;
		margin: 0 40px 0 0;
	}
	ul.three-columns.logos li {
		width: 50%;
		padding: 20px 0;
	}
	ul.three-columns.logos img {
		max-width: 360px;
		height: auto;
	}
	div.info, div.feature-casestudy {
		width: 100%;
	}
	div.info-icon {
		float: left;
		display: inline-block;
		margin: 0 30px 0 0;
		min-height: 160px;
		padding: 20px 0 0 0;
	}
	div.info h4, div.feature-casestudy h4 {
		font-size: 28px;
		line-height: 1.4em;
	}
	div.info-text {
		padding: 10px 0 0 0;
		text-align: left;
		font-size: 18px;
	}
	.feature-casestudy-text {
		font-size: 18px;
	}
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 20px 0 0 0;
	}
	.image-holder img {
		width: 95%;
		height: auto;
	}
	
	div.column-left, div.column-right, div.text-small-left, div.text-small-right, div.text-wide-left, div.text-wide-right {
		float: none;
		width: 93%;
		margin: 0 auto;
		min-height: 250px;
		height: 250px;
		height: auto;
	}
	div.intro-left, div.intro-right {
		float: none;
		width: 93%;
		margin: 0 auto;
	}
	div.intro-left h3, div.intro-right h3 {
		padding: 0;
	}
	div.map, div#gmap_canvas {
		width: 98%;
		margin: 0 auto;
		padding: 0 0 30px 0;
	}
	div#content-holder {
		padding-bottom: 200px;
	}
	div#footer {
		height: 200px;
	}
	
	/* iframe*/
	
	 .project-video iframe, .project-video object, .project-video embed { 
		height: 350px;
		width: 90%;
		margin: 0 auto;
	}
	
	div.half-left{
		overflow: hidden;
		height: auto;
		text-align: center;
	}
	
	div.half-left img{
		width: auto;
		height: 550px;
		position: relative;
		left: 50%;
		
		margin-left: -100%;
	}
	
	div.half-right h2, div.half-left h2{
		padding: 60px 45px;
		font-size: 24px;
		line-height: 1.5em;
	}
	
	div.half-right p, div.half-left p{
		padding: 0 45px;
		font-size: 18px;
	}
	
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 320px) and (max-width: 767px) {
	h1 {
		font-family: 'Lato', sans-serif;
		font-size: 38px;
		padding: 0 15px;
	}
	div.project-twocolumns h1 {
		font-family: 'Lato', sans-serif;
		font-size: 44px;
		padding: 0 15px;
	}
	h2 {
		font-family: 'Roboto Slab', serif;
		font-size: 26px;
		padding: 0 20px;
	}
	h3 {
		font-family: 'Roboto Slab', serif;
		font-size: 22px;
		padding: 0 20px;
	}
	.overlay nav {
		font-size: 24px;
	}
	.overlay ul li {
		min-height: 50px;
	}
	div.big-btn a {
		padding: 15px 55px;
	}
	
	.image-holder img.desktop{
		display: none;
	}
	
	.image-holder img.mobile{
		display: inline-block !important;
	}

	div.column-left, div.column-right {
		float: none;
		width: 93%;
	}
	div#footer-contactinfo, div#footer-logo, div#footer-buttons {
		display: block;
		width: 100%;
		padding: 15px 0 0 0;
		height: auto;
	}
	div#footer-contactinfo {
		font-size: 18px;
		line-height: 1.4em;
	}
	.title {
		font-size: 40px;
	}
	div.welcome-title h1 {
		font-size: 60px;
	}
	div.welcome-title h3 {
		padding: 0 15px;
	}
	div#footer {
		height: auto;
	}
	ul.three-columns li {
		width: 98%;
		margin: 0 0 30px 0;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
	}
	ul.three-columns.logos img {
		max-width: 360px;
		height: auto;
	}
	div.text-center {
		padding: 40px 0;
	}
	
	.image-holder img {
		width: 95%;
		height: auto;
		margin: 0 auto;
	}
	.slide-text {
		padding: 0 10px;
		margin: 0;
	}
	.slide-icon {
		height: 210px;
	}
	.slide-icon img {
		width: auto;
		height: 200px;
	}
	div.info {
		width: 80%;
	}
	div.feature-casestudy {
		width: 93%;
	}
	div.info h4, div.feature-casestudy h4 {
		font-size: 26px;
		line-height: 1.4em;
	}
	div.info-text, div.feature-casestudy-text {
		font-size: 18px;
	}
	div#content-holder {
		padding: 0 0 285px 0; /* footer height*/
	}
	div.column-left, div.text-small-left, div.column-right, div.text-small-right, div.text-wide-left, div.text-wide-right {
		float: none;
		width: 93%;
		margin: 0 auto;
		min-height: 150px;
		height: 150px;
		height: auto;
	}
	div.project-twocolumns, div.twocolumns {
		padding: 50px 0;
	}
	div.intro-left, div.intro-right {
		float: none;
		width: 93%;
		margin: 0 auto;
	}
	div.intro-left h3, div.intro-right h3 {
		padding: 0 0 10px 0;
	}
	div.map, div#gmap_canvas {
		width: 98%;
		height: 280px;
		margin: 0 0 30px 0;
	}
	div#project-hero, div.project-feat {
		overflow: hidden;
		height: 350px;
		text-align: center;
	}
	
	div#project-hero img, div.project-feat img, div.half-left img, div.half-right img{
		width: auto;
		height: 350px;
		left: 50%;
		margin-left: -100%;
		position: relative;
	}
	
	/* iframe*/
	
	 .project-video iframe, .project-video object, .project-video embed { 
		height: 350px;
		width: 90%;
		margin: 0 auto;
	}
	
	div.project-animated {
		height: auto;
	}
	
	 div.project-animated img{
		 max-width: 300px;
		 height: auto;
	 } 
	 
	div.wah1 div.half-left{
		float: none;
		width: 100%;
		height:450px;
		text-align: center;
		background: url(../images/img_hero_wah1_responsive.jpg) no-repeat top center;
	}
	
	div.wah2 div.half-left{
		float: none;
		width: 100%;
		height:450px;
		text-align: center;
		background: url(../images/img_hero_wah4_responsive.jpg) no-repeat top center;
	}

	div.cca div.half-left{
		float: none;
		width: 100%;
		height:450px;
		text-align: center;
		background: url(../images/img_hero_cca1_responsive.jpg) no-repeat top center;
	}
	
	div.cca div.half-left img, div.wah1 div.half-left img, div.wah2 div.half-left img{
		display: none;
	}
	
	 div.half-right{
		float: none;
		width: 100%;
	}
	
	div.half-right h2, div.half-left h2{
		padding: 100px 55px;
		font-size: 20px;
	}
	
	div.half-right p, div.half-left p{
		padding: 0 55px 60px 55px;
		font-size: 16px;
	}
	
	div.project-features{
		font-size:16px;
	}
	
	div.project-features ul {
	  padding: 40px 10px 0 10px;
	}
	
	div.project-features li {
	  margin: 0 0 15px 0;
	}
	 
}

@media (max-width: 480px) {
	div#content-holder {
		padding: 0 0 245px 0; /* footer height*/
	}
	.slide-icon {
		height: 160px;
	}
	.slide-icon img {
		width: auto;
		height: 150px;
	}
	.slide-text h1 {
		font-size: 30px;
	}
	.slide-text h3 {
		font-size: 18px;
	}
	div#footer-buttons .btn {
		margin: 0 auto 15px auto;
		width: 100%;
		text-align: center;
		font-size: 22px;
		padding: 15px 15px 15px 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 28px;
		-moz-border-radius: 28px;
		border-radius: 28px;
	}
	
	div.big-btn {
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
	}
	
	div.big-btn a h2{
		font-size: 32px;
	}
	
	div.welcome-title {
		padding: 140px 0 0 0;
	}
	div.welcome-title h1 {
		font-size: 40px;
	}
	div.read-more {
		padding: 40px 0 0 0;
	}
	
	/* iframe*/
	
	 .project-video iframe, .project-video object, .project-video embed { 
		height: 250px;
		width: 90%;
		margin: 0 auto;
	}
	
	div.project-animated {
		height: auto;
	}
	
	 div.project-animated img{
		 max-width: 300px;
		 height: auto;
	 }
	 
	div.project-results .quote{
		 padding: 100px 0;
	 }
	 
	 div.half-right h2, div.half-left h2{
		padding: 100px 35px;
		font-size: 20px;
	}
	
	div.feature-casestudy{
		line-height: 1.4em;
	}
	
	div.feature-casestudy-text{
		padding: 20px;
	}
	
	/*.fixed {
		height: 70px !important;
	}
	
	.fixed div#top{
		padding: 16px  0 0 0;
	}
	
	.nav-icon:after, .nav-icon:before, .nav-icon span {
  		margin: 9px 0;
	}
	
	div#menu {
  		height: 50px
	}*/
	 
}

@media (max-width: 400px){
	
	div#top {
		padding: 20px 0 0 0;
	}
	
	div#project-hero, div.project-feat {
		overflow: hidden;
		height: 350px;
		text-align: center;
	}
	
	
	div.half-left{
		float: none;
		width: 100%;
		overflow: hidden;
		height: 350px;
		text-align: center;
	}
	
	 div.half-right{
		float: none;
		width: 100%;
	}
	
	div#project-hero img, div.project-feat img{
		width: auto;
		height: 350px;
		left: 50%;
		margin-left: -125%;
		position: relative;
	}
}
