@charset "UTF-8";

/*------------------------- home ------------------------------ */

div.welcome-title {
	padding: 160px 0 0 0;
	text-align: center;
}
div.welcome-title h1, 
div.welcome-title h2, 
div.welcome-title h3 {
	color: #FFF;
}
div.welcome-title h2 {
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	line-height: 1em;
	margin: 0 0 35px 0;
	font-weight: 700;
}

div.welcome-title h2 span{
	font-weight: 300;
	font-style: italic;
}

.image-holder {
	margin: 70px 0;
}
.image-holder img.desktop {
	display: inline-block;
}
.image-holder img.mobile {
	display: none;
}

/* header - quotes */


div.header-quotes{
	max-width: 800px;
	background-color: #FFF;
	width: 100%;
	height: 340px;
	margin:180px auto 0 auto;
}

.quote-text p{
	height: 200px;
	width: 60%;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 28px;
	color: #242424;
}

.quote-text p:before{
	text-align: center;
	height: 70px;
	margin-top: 20px;
	width: 100%;
	display: block;
	content: "";
	background-image: url(../images/home/noun_89663.svg); 
	background-position: center center;
	-webkit-background-size: 50px 50px;      
    -moz-background-size: 50px 50px;      
    -o-background-size: 50px 50px;         
    background-size: 50px 50px;  
	background-repeat: no-repeat; 
}
/*  home  - our work */ 

#home-ourwork{
	background-image: url(../images/home/home_ourworkbg.jpg); 
	background-color: #f4f4f4 ;
	background-position: bottom center;
	-webkit-background-size: 1440px 940px;      
    -moz-background-size: 1440px 940px;      
    -o-background-size: 1440px 940px;         
    background-size: 1440px 940px;  
	background-repeat: no-repeat; 
	  
}
div.header-arrow{
	max-width: 800px;
	background-color: #FFF;
	width: 100%;
	height: 60px;
	margin: 0 auto;
}

.grid {
	position: relative;
	list-style: none;
	list-style-type: none;
	text-align: center;
	width: 100%;
	max-width: 1100px;
	margin:150px auto 0 auto;
	padding:0;
}

/* Common style */
.grid li {
	position: relative;
	float: left;
	overflow: hidden;
	max-width: 500px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid li:nth-child(odd){
	margin: 0  0 100px 0;
}

.grid li:nth-child(even){
	margin: 0  0 100px 100px;
}

.grid li img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid li div {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid li div::before,
.grid li div::after {
	pointer-events: none;
}

.grid li div,
.grid li div > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid li div > a {
	z-index: 1000;
	text-indent: -9999px;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
	color: #FFF;
}

.grid li h2 {
	letter-spacing: 9px;
	line-height: 1.2em;
	font-weight: 900;
	font-family: Lato;
	color: #FFF;
	text-transform: uppercase;
	font-size: 46px;
}

.grid li h2 span {
	font-weight: 300;
}

.grid li h2,
.grid li p {
	margin: 0;
}

.grid li p {
	letter-spacing: 1px;
	line-height: 1.2em;
	font-size: 68.5%;
	color: #FFF;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 300;
}

/*---------------*/
/***** Jazz *****/
/*---------------*/

li.effect-jazz {
	background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	-webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
	box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
}

li.effect-jazz img {
	opacity: 0.9;
}

li.effect-jazz div::after,
li.effect-jazz img,
li.effect-jazz p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

li.effect-jazz div::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 120%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

li.effect-jazz h2,
li.effect-jazz p {
	opacity: 1;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
}

li.effect-jazz h2 {
	padding-top: 22%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

li.effect-jazz p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 0.85em;
	opacity: 0;
}

li.effect-jazz:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

li.effect-jazz:hover div::after {
	opacity: 1;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

li.effect-jazz:hover h2,
li.effect-jazz:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

/*-------- innovation process ----------*/

div#home-innovation{
	background: #644f97; /* For browsers that do not support gradients */
	background-image: -webkit-linear-gradient(180deg, #a2cae3 0%, #644f97 100%);
	background-image: -moz-linear-gradient(180deg, #a2cae3 0%, #644f97 100%);
	background-image: -o-linear-gradient(180deg, #a2cae3 0%, #644f97 100%);
	background-image: -ms-linear-gradient(180deg, #a2cae3 0%,  #644f97 100%);
	background-image: linear-gradient(180deg, #a2cae3 0%, #644f97 100%);
}

div#home-innovation h1,
div#home-innovation h3{
	color: #FFF;
}

div#home-innovation h3{
	letter-spacing: 7px;
}

div#home-innovation div.med-btn {
	border: 4px solid #56BD56;
	background-color: #56BD56;
}

/*-------- home enablers ----------*/

div#home-enablers{
}

.enablers-list{
	list-style: none;
	list-style-type: none;
	margin:  0 auto;
	padding: 50px 0;
	width: 100%;
	display: block;
}

.enablers-list li{
	float: left;
	width: 33%;
	height: 220px;
	text-align: center;
	padding: 0;
	margin: 0 0 40px 0;
}

.enablers-list li div.enabler{
	height: 100%;
	width: 95%;
	margin: 0 auto;
	display: block;
	-webkit-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
	box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.25);
	background-repeat:no-repeat;
    background-size:contain;
}
