@charset "UTF-8";
/* Responsive */


@media (min-width: 1200px) and (max-width: 1300px) {
	div.half-right h2, div.half-left h2 {
		margin: 0 auto;
		padding: 80px 95px;
		font-size: 24px;
		font-weight: 100;
		line-height: 1.5em;
		color: #9A9A9A  ;
	}
	div.half-right p, div.half-left p {
		padding: 0 95px;
	}
	
	div.jobs-right {
		width: 830px; 
	}
	
	.grid li h2 {
		padding-top: 22%;
		font-size: 40px;
	}
}

@media (min-width: 992px) and (max-width: 1100px) {
	.grid {
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 420px;
	}

}

@media (min-width: 1101px) and (max-width: 1199px) {
	.grid {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 500px;
	}

}


@media (min-width: 992px) and (max-width: 1199px) {
	
	.grid li:nth-child(odd){
		margin: 0  0 40px 20px;
	}
	
	.grid li:nth-child(even){
		margin: 0  0 40px 40px;
	}
	
	.grid li h2 {
		padding-top: 22%;
		font-size: 40px;
	}
	
	.grid li p {
		font-size: 70%;
	}
	
	div.jobs-right {
		width: 700px  ;	
	}
	
	div.action-header,
	#ask-anything div.action-header{
		margin-left: 0;
		width:80%;
		margin: 0 auto;
	}
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 20px 0;
	}
	div.feature-casestudy {
		width: 90%;
	}
	div.text-small-left {
		float: left;
		width: 300px;
		margin: 0 auto;
		min-height: 250px;
		height: auto  ;
		height: 250px;
	}
	div.text-wide-right {
		float: right;
		width: 630px;
		margin: 0 auto;
		min-height: 250px;
		height: auto  ;
		height: 250px;
	}
	div.map, div#gmap_canvas {
		width: 98%;
		height: 300px;
		margin: 0 auto;
		padding: 15px 0 30px 0;
	}
	div#content-holder {
		/*padding-bottom: 200px;*/
	}
	div#footer {
		/*height: 200px;*/
	}
	/* iframe*/
	.project-video iframe, .project-video object, .project-video embed {
		height: 450px;
		width: 90%;
		margin: 0 auto;
	}
	div.half-right h2, div.half-left h2 {
		padding: 40px 50px;
		font-size: 22px;
	}
	div.half-right p, div.half-left p {
		padding: 0 50px;
		font-size: 18px;
	}
	div.intro-right {
		float: right;
		width: 530px;
	}
}

@media (min-width: 900px) and (max-width: 992px) {
	.grid {
		width: 100%;
		max-width: 900px  ;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 400px;
	}

}

@media (min-width: 800px) and (max-width: 899px) {
	.grid {
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 360px;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.award-winner div, .award-commendation div{
		width: 80%;
	}
	
	.award-category{
		min-height: 58px;
		
	}
	.award-title,
	.award-company{
		font-size: 18px;
	}
	.grid li:nth-child(odd){
		margin: 0  0 30px 30px;
	}
	
	.grid li:nth-child(even){
		margin: 0  0 30px 30px;
	}
	
	.grid li h2 {
		padding-top: 18%;
		font-size: 36px;
	}
	
	.grid li p {
		font-size: 70%;
	}
	
	#services-enablers .project-twocolumns{
		padding: 70px 0;
	}
	
	#services-header #four-stages li{
		display: inline-block;
		width: 130px;
		height: 130px;
		margin-right: 30px;
	}
	
	.stage-icon{
		width: 130px;
		height: 130px;
		border-radius: 50%;
		margin: 0 auto 30px auto;
		background-size:  60px 50px;
		background-repeat: no-repeat;
		background-position:  center center;  
	}
	.stage-icon a{
		display: block;
		width: 100%;
		padding-top: 90px;
		height: 40px;
		
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 1em;
		text-align: center;
		color: #ffffff;
	}

	#services-ideate,
	#services-grow{
		padding-bottom: 250px;
	}
	
	.service-item div.jobs-left{
		float: left  ;
		width: 185px  ;
	}
	
	.service-item div.jobs-left img{
		width: 90%;
		 height:auto  ;
	}
	
	.service-item div.jobs-right{
		float: right  ;
		width: 510px  ;
		min-height: 100px;
		height: auto  ;
		height: 100px;
	}
	
	#services-enablers .column-left-xshort,
	#services-enablers .column-right-xshort{
		text-align: center;
	}
		
	div.intro-right{
		padding-top: 30px;
	}
		
	div.action-header,
	#ask-anything div.action-header{
		margin-left: 0;
		width:80%;
		margin: 0 auto;
	}
	
	a.btn {
		margin: 0 25px 15px 30px;
	}
		
	 h3.casestudy-info{
		font-size: 16px;
	}
	
	div.welcome-title h1 {
		font-size: 80px  ;
	}
	
	ul.three-columns li, ul.three-columns.team li, ul.four-columns li, ul.four-columns.team li, ul#filters {
		width: 98%  ;
		margin: 0 0 30px 0;
	}
	ul.three-columns.team li, ul.four-columns.team li {
		min-height: 210px  ;
		height: auto  ;
		height: 210px  ;
	}
	ul.three-columns.team div.info-icon, ul.four-columns.team div.info-icon {
		float: left;
		margin: 0 40px 0 0;
	}
	ul.three-columns.logos li, ul.three-columns.more-work li, ul.three-columns.enablers-list li{
		width: 50%  ;
		padding: 20px 0  ;
	}
	
	#home-awards ul.three-columns li {
		width: 50%  ;
	}
	ul.three-columns.logos img {
		max-width: 360px  ;
		 height:auto  ;
	}
	
	div.info, 
	div.feature-casestudy {
		width: 100%  ;
	}
	
	div.info-icon {
		float: left;
		display: inline-block;
		margin: 0 30px 0 0  ;
		min-height: 160px  ;
		padding: 20px 0 0 0;
	}
	
	#innovation ul.three-columns li{
		width: 33%  ;
	}
	
	#innovation div.info-icon {
		float: none;
		display: block;
		margin: 0;
		min-height: 100px  ; 
		padding:  0;
	}
	
	div.info h4, div.feature-casestudy h4 {
		font-size: 28px;
		line-height: 1.4em;
	}
	
	ul.three-columns.team h4.text-grey, ul.four-columns.team h4.text-grey {
		font-size: 18px  ;
	}
	
	div#innovation div.info-text,
	div#home-behindenabled div.info-text
	 {
		padding: 5px 0 0 0;
	}
	
	div#innovation div.info-text {
		padding: 0;
		text-align: center;
	}
	
	div#innovation div.info-text p{
		font-size: 16px;
		display: block;
		padding: 0 15px  ;
	}
	
	
	div.info-text {
		padding: 55px 0 0 0;
		text-align: left;
		font-size: 18px;
	}
	.feature-casestudy-text {
		font-size: 18px;
	}
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 20px 0 0 0  ;
	}
	.image-holder img {
		/*width: 95%;*/
		 height:auto  ;
	}
	div.ourwork-half div.ourwork-feature, 
	div.ourwork-half div.half-left, 
	div.ourwork-half div.half-right {
		float: none;
		width: 100%;
		 height:auto  ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	div.column-left, 
	div.column-right, 
	div.text-small-left, 
	div.text-small-right, 
	div.text-wide-left, 
	div.text-wide-right,
	div.column-left-short,
	div.column-right-short,
	div.column-left-xshort,
	div.column-right-xshort,
	div.column-left-xwide,
	div.column-right-xwide,
	div.column-left-wider,
	div.column-right-wider,
	div.column-left-wide,
	div.column-right-wide{
		float: none;
		width: 93%;
		margin: 0 auto;
		min-height: 250px;
		height: auto  ;
		height: 250px;
	}
	
	div.jobs-right{
		float: none;
		width: 93%;
		margin: 0 auto;
		min-height: 100px;
		height: auto  ;
		height: 100px;
	}
	
	div.intro-left, 
	div.intro-right,
	div.jobs-left{
		float: none;
		width: 93%;
		margin: 0 auto;
		padding: 0;
	}
	div.intro-left h3, 
	div.intro-right h3,
	div.jobs-left h3{
		padding: 0;
	}
	div.map, 
	div#gmap_canvas {
		width: 98%;
		height: 280px;
		margin: 0 0 30px 0;
	}
	div#content-holder {
		/*padding-bottom: 200px;*/
	}
	div#footer {
		/*height: 200px;*/
	}
	/* iframe*/
		
	.project-video iframe, 
	.project-video object, 
	.project-video embed {
		height: 350px;
		width: 90%;
		margin: 0 auto;
	}
	div.half-left {
		overflow: hidden;
		 height:auto  ;
		text-align: center;
	}
	div.half-left img {
		width: auto;
		height: 550px  ;
		position: relative;
		left: 50%;
		margin-left: -100%;
	}
	div.half-right h2, div.half-left h2 {
		padding: 60px 45px;
		font-size: 24px  ;
		line-height: 1.5em;
	}
	div.half-right p, div.half-left p {
		padding: 0 45px;
		font-size: 18px;
	}
	}
	
	/* Small devices (tablets, 768px and up) */
@media only screen and (min-width : 320px) and (max-width: 767px) {
	
	.clientquote-text p{
		font-size: 20px;
	}
	
	
	.clientquote-text span{
		font-size: 12px;
		margin: 40px auto;
		width: 80%;
	}
	#services-enablers .project-twocolumns{
		padding: 70px 0;
	}
	
	#services-enablers .column-left-xshort,
	#services-enablers .column-right-xshort{
		text-align: center;
		margin-bottom: 30px;
	}
	
	#services-discover{
		padding-top:  0;
	}
	
	#services-ideate,
	#services-grow{
		padding-bottom: 250px;
	}
		
	.service-item div.jobs-left, 
	.service-item h1{
		text-align: center;
	}
	
	/* action*/
	
	div.action-header,
	#ask-anything div.action-header{
		margin-left: 0;
		width:90%;
		margin: 0 auto;
	}
	
	span.action-title {
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		font-size: 34px;
	}
	
	span.action-title a{
		font-size: 32px;
	}
	
	div.action-left, 
	div.action-center{
		padding: 80px 0;
	}
	
	div.ourwork-half {
		margin: 10px 0;
	}
	
	div.ourwork-info {
		padding: 20px;
	}
	
	a.casestudy-link{
		bottom: 20px;
	}
	
	.gradient-red:hover h3.casestudy-info,
	.gradient-grey:hover h3.casestudy-info,
	.gradient-green:hover h3.casestudy-info,
	.gradient-purpleblue:hover h3.casestudy-info,
	.gradient-bluepurple:hover h3.casestudy-info{
		display: none;
	}
	
	.hero-slider {
		display: block  ;
		visibility: visible;
	}
	.fullscreen-video {
		display: none;
	}
	div.header-content {
		background-image: none;
	}
	h1,
	#services-header h1,
	#services-enablers h1,
	.service-item  h1 {
		font-family: 'Lato', sans-serif;
		font-size: 38px ;
		padding: 0 15px;
	}
	
	#innovation h1{
		font-size: 38px  ;
		letter-spacing: 8px;
	}
	
	div.project-twocolumns h1, 
	div.project-onecolumn h1,
	div.project-twocolumnwide h1 {
		font-family: 'Lato', sans-serif;
		font-size: 44px  ;
		padding: 0 15px;
	}
	
	#services-enablers h2 {
		font-size: 26px;
		text-align: center;
	}
	
	div.welcome-title h2  {
		font-size: 40px;
		text-align: center;
	}
	
	.quote-text p{
		font-size: 22px;
	}
	div.header-quotes {
    	margin: 10px auto;
	}
	
	.services-list h3{
		font-size: 22px;
	}
	
	#services-enablers p{
		font-size: 16px;
	}
	
	h2 {
		font-family: 'Roboto Slab', serif;
		font-size: 26px;
		padding: 0 20px;
	}
	h3 {
		font-family: 'Roboto Slab', serif;
		font-size: 22px;
		padding: 0 20px;
	}
	.overlay nav {
		font-size: 24px;
	}
	.overlay ul li {
		min-height: 50px;
	}
	div.big-btn a {
		padding: 15px 55px;
	}
	div.med-btn a {
		padding: 20px 35px;
	}
	.image-holder img.desktop {
		display: none;
	}
	.image-holder img.mobile {
		display: inline-block  ;
	}
	div.column-left, 
	div.column-right {
		float: none  ;
		width: 93%  ;
	}
	div#footer-contactinfo, 
	div#footer-logo, 
	div#footer-buttons {
		display: block;
		width: 100%;
		padding: 15px 0 0 0;
		 height:auto  ;
	}
	div#footer-contactinfo {
		font-size: 18px  ;
		line-height: 1.4em;
	}
	.title {
		font-size: 40px  ;
	}
	div.welcome-title h1 {
		font-size: 60px  ;
	}
	div.welcome-title h3 {
		padding: 0 15px  ;
	}
	div#footer {
		 height:auto  ;
	}
	
	ul#filters li {
		display: block;
		margin: 0 20px 20px 0  ;
	}
	ul#filters li span {
		display: inline;
	}
	ul.three-columns li, ul.four-columns li {
		width: 98%  ;
		margin: 0 0 30px 0  ;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		 height:auto  ;
	}
	
	ul.three-columns.team li, ul.four-columns.team li{
		height: 260px  ;
	}
	ul.three-columns.logos img {
		max-width: 360px  ;
		 height:auto  ;
	}
	div.text-center, div.text-left {
		padding: 40px 0  ;
	}
	
	div.text-center.content-slider-holder{
		min-height: 440px;
		height: auto  ;
		height: 440px;
	}
	.image-holder img {
		/*width: 95%;*/
		 height:auto  ;
		margin: 0 auto;
	}
	.slide-text {
		padding: 0 10px;
		margin: 0;
	}
	.slide-icon {
		height: 210px  ;
	}
	.slide-icon img {
		width: auto;
		height: 200px  ;
	}
	div.info {
		width: 80%  ;
	}
	div.feature-casestudy {
		width: 93%  ;
	}
	div.info h4, div.feature-casestudy h4 {
		font-size: 26px;
		line-height: 1.4em;
	}
	
	div#innovation div.info-text {
		font-size: 20px;
	}
	
	ul.three-columns.team h4.text-grey, 
	ul.four-columns.team h4.text-grey {
		font-size: 18px  ;
	}
	div.info-text, 
	div.feature-casestudy-text {
		font-size: 18px  ;
	}
	div#content-holder {
		padding: 0; 
	}
	div.column-left, 
	div.text-small-left, 
	div.column-right, 
	div.text-small-right, 
	div.text-wide-left, 
	div.text-wide-right,
	div.column-left-short,
	div.column-right-short,
	div.column-left-wide,
	div.column-right-wide,
	div.column-left-xshort,
	div.column-right-xshort,
	div.column-left-xwide,
	div.column-right-xwide,
	div.column-left-wider,
	div.column-right-wider,
	div.column{
		float: none  ;
		width: 93%  ;
		margin: 0 auto;
		min-height: 150px;
		height: auto  ;
		height: 150px;
		
	}
	
	div.intro-left, 
	div.intro-right,
	div.jobs-left {
		float: none  ;
		width: 93%  ;
		margin: 0 auto;
		padding: 0;
	}
	
	.services-list{
		width: 93%;
		margin: 0 auto;
	}
	
	.services-list > li,
	.faq-item li{
		float: none  ;
		margin-bottom: 20px;
		width: 100%;
	}
	
	div.faq-list strong{
		padding: 0;
	}
	
	.service-item div.jobs-right {
		padding-right: 0  ;
	}
	
	div.jobs-right{
		float: none  ;
		width: 93%  ;
		margin: 0 auto;
	}
	
	div.intro-right{
		padding-top: 30px;
	}
	
	div.intro-left h3, 
	div.intro-right h3 {
		padding: 0 0 10px 0;
	}
	div.map, div#gmap_canvas {
		width: 98%;
		height: 280px;
		margin: 0 0 30px 0;
	}
	div#project-hero, 
	div.project-feat {
		overflow: hidden;
		min-height: 150px  ;
		height: 150px  ;
		height: auto  ;
		text-align: center;
	}
	div#project-hero img, 
	div.project-feat img, 
	div.half-left img, 
	div.half-right img {
		width: auto;
		min-height: 150px  ;
		height: 150px  ; 
		height: auto  ;
		left: 50%;
		margin-left: -100%;
		position: relative;
	}
	/* iframe*/
		
	.project-video iframe, 
	.project-video object, 
	.project-video embed {
		height: 350px;
		width: 90%;
		margin: 0 auto;
	}
	div.project-animated {
		 height:auto  ;
	}
	div.project-animated img {
		max-width: 300px;
		 height:auto  ;
	}
	div.ourwork-half div.ourwork-feature, 
	div.ourwork-half div.half-left, 
	div.ourwork-half div.half-right {
		float: none  ;
		width: 100%  ;
		 height:auto  ;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	div.wah1 div.half-left {
		float: none;
		width: 100%;
		height: 450px;
		text-align: center;
		background: url(../images/img_hero_wah1_responsive.jpg) no-repeat top center;
	}
	div.wah2 div.half-left {
		float: none;
		width: 100%;
		height: 450px  ;
		text-align: center;
		background: url(../images/img_hero_wah4_responsive.jpg) no-repeat top center;
	}
	div.cca div.half-left {
		float: none;
		width: 100%;
		height: 450px;
		text-align: center;
		background: url(../images/img_hero_cca1_responsive.jpg) no-repeat top center;
	}
	div.cca div.half-left img, 
	div.wah1 div.half-left img, 
	div.wah2 div.half-left img {
		display: none;
	}
	div.half-right {
		float: none;
		width: 100%;
	}
	div.half-right h2, 
	div.half-left h2 {
		padding: 100px 55px;
		font-size: 20px;
	}
	div.half-right p, 
	div.half-left p {
		padding: 0 55px 60px 55px;
		font-size: 18px Important;
	}
	div.project-features {
		font-size: 16px;
	}
	div.project-features ul, 
	div.project-features.raa-feat ul {
		padding: 40px 10px 80px 10px;
	}
	div.project-features li {
		margin: 0 0 15px 0;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait) {
	/*IPhone 5 only CSS here*/
					 
	div.read-more {
		padding: 40px 0 0 0  ;
		position: absolute;
		bottom: 280px  ; /* 360px */
		left: 35%  ;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	/*iPhone 6 Portrait*/
		
	div.read-more {
		padding: 40px 0 0 0  ; 
		position: absolute;
		bottom: 180px  ; /*270px */
		left: 35%  ;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3) {
	/*iPhone 6+ Portrait*/
		
	div.read-more {
		padding: 40px 0 0 0  ;
		position: absolute;
		bottom: 110px  ; /* 195px*/
		left: 35%  ;
	}
}

@media (min-width: 768px) and (max-width: 799px) {
	.grid {
		width: 100%  ;
		max-width: 799px  ;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 342px  ;
	}

}

@media (min-width: 750px) and (max-width: 767px) {
	.grid {
		width: 100%;
		max-width: 767px  ;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 330px  ;
	}

}

@media (min-width: 700px) and (max-width: 749px) {
	.grid {
		width: 100%;
		max-width: 749px  ;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 320px  ;
	}

}

@media (min-width: 641px) and (max-width: 699px) {
	.grid {
		width: 100%;
		max-width: 699px  ;
		margin: 0 auto;
	}
	
	.grid li{
		max-width: 290px  ;
	}

}
@media only screen and (min-width: 641px) and (max-width: 767px){
	
	.award-category{
		min-height: 58px;
	}
	
	#home-awards ul.three-columns li, ul.three-columns.enablers-list li{
		width: 50%  ;
	}
	
	.grid {
		width: 100%;
		margin: 0 auto  ;
	}
	
	.grid li img {
		min-height: 100%  ;
		max-width: 100%  ;
		width: 100%;
	}
	
	.grid li h2 {
		padding-top: 22%  ;
		font-size: 32px  ;
	}
	
	.grid li p {
		font-size: 70%  ;
	}
	
	
	.grid li:nth-child(odd){
		margin: 0  0 25px 25px  ;
	}

	.grid li:nth-child(even){
		margin: 0  0 25px 25px  ;
	}

	#services-header #four-stages ul{
		padding-top:  120px;
	}
	#services-header #four-stages li{
		display: inline-block;
		width: 110px  ;
		height: 110px  ;
		margin-right: 30px  ; 
	}
	
	.stage-icon{
		width: 110px  ;
		height: 110px  ;
		border-radius: 50%  ;
		margin: 0 auto 30px auto;
		background-size:  60px 50px  ;
		background-repeat: no-repeat;
		background-position:  center center;  
	}
	.stage-icon a{
		display: block;
		width: 100%;
		height: 100%;
		text-align: left;
		text-indent:  -9999px;
	}
}
@media only screen and (min-width: 441px) and (max-width: 640px){
	
	ul.three-columns.enablers-list li{
		width: 50%  ;
	}
	
	.grid {
		max-width: 640px  ;
		margin:  0 auto  ;
	}
	
	.grid li {
		float: none  ;
		max-width: 93%  ;
		width: 93%  ;
		 height:auto  ;
		background: #3085a3;
		margin: 0 auto 50px auto  ;
	}
	
	.grid li img {
		min-height: 100%  ;
		max-width: 100%  ;
		width: 100%;
	}
	
	.grid li:nth-child(odd){
		margin: 0  0 20px 20px  ;
	}
	
	.grid li:nth-child(even){
		margin: 0  0 20px 20px  ;
	}
	
	li.effect-jazz h2 {
		padding-top: 28%  ;
	}

	#services-header #four-stages ul{
		padding-top:  110px  ;
	}
	#services-header #four-stages li{
		display: inline-block;
		width: 80px;
		height: 80px;
		margin-right: 17px;
	}
	
	.stage-icon{
		width: 80px  ;
		height: 80px  ;
		border-radius: 50%;
		margin: 0 auto 30px auto  ;
		background-size:  50px 40px  ;
		background-repeat: no-repeat;
		background-position:  center center;  
	}
	.stage-icon a{
		display: block;
		width: 100%;
		height: 100%;
		text-align: left;
		text-indent:  -9999px;
	}
		
		
	/* innovation animation */
	
	div#innovation-circles{
		width: 420px  ;
	}
		
	div#innovation .element.circle{
		width: 220px  ;
		height: 220px  ;
	}
	
	div#innovation .human-large{
		top: 84px  ;
		left: 100px  ;
	}
	
	div#innovation .tech-large{
		top: 210px  ;
		left: 184px  ;	
	}
	
	div#innovation .business-large{
		top: 210px  ;
		left: 5px  ;	
	}
	
	div#innovation-text{
		margin: -350px auto 0 auto  ;
		display: block;
		width: 400px;
		height: 270px;
		position: relative;
	}
	
	div#innovation .lightglobe{
		width: 24px  ;
		height: 26px  ;
		left: 184px  ;
		top: 22px  ;
	}
	
	div#innovation .line{
		width: 14px  ;
		height:168px  ;
		left: 189px  ;
		top: 53px  ;
	}
	
	div#innovation .innovation-green{
		width: 322px  ;
		height: 60px  ;
		left: 45px  ;
		top: 230px  ;
	}
}

@media only screen and (max-width: 440px){
	
	.grid {
		max-width: 440px  ;
		margin: 0 auto  ;
	}
	
	.grid li {
		float: none  ;
		max-width: 90%  ;
		width: 90%  ;
	}
	
	.grid li img {
		min-height: 100%  ;
		max-width: 100%  ;
		width: 100%;
	}
	
	.grid li:nth-child(odd){
		margin: 0  0 20px 20px  ;
	}
	
	.grid li:nth-child(even){
		margin: 0  0 20px 20px  ;
	}
	
	li.effect-jazz h2 {
		padding-top: 15%  ;
	}

	#services-header #four-stages ul{
		padding: 0 0 0 0;
	}
	
	#stage-discover p,
	#stage-ideate p{
		/*color: #553583;*/
	}
	
	#services-header #four-stages li{
		display: inline-block;
		width: 140px  ;
		height: 140px  ;
		margin: 0;
	}
	
	.stage-icon{
		width: 90px  ;
		height: 90px  ;
		border-radius: 50%;
		margin: 10px auto 20px auto  ;
		background-size:  50px 40px  ;
		background-repeat: no-repeat;
		background-position:  center center;  
	}
	.stage-icon a{
		display: block;
		width: 140px  ;
		height: 140px  ;
	}
	
	/* innovation animation */
	
	div#innovation-circles{
		width: 290px  ;
	}
		
	div#innovation .element.circle{
		width: 160px  ;
		height: 160px  ;
	}
	
	div#innovation .human-large{
		top: 84px  ;
		left: 60px  ;
	}
	
	div#innovation .tech-large{
		top: 180px  ;
		left: 127px  ;	
	}
	
	div#innovation .business-large{
		top: 180px  ;
		left: 5px  ;	
	}
	
	div#innovation-text{
		margin: -390px auto 0 auto  ;
		display: block;
		width: 290px  ;
		height: 270px  ;
		position: relative;
	}
	
	div#innovation .lightglobe{
		width: 20px  ;
		height: 22px  ;
		left: 136px  ;
		top: 8px  ;
	}
	
	div#innovation .line{
		width: 14px  ;
		height:168px  ;
		left: 139px  ;
		top: 33px;
	}
	
	div#innovation .innovation-green{
		width: 312px;
		height: 50px;
		left: 5px;
		top: 210px;
	}
	
	#services-header .our-services{
		font-size: 12px;
		letter-spacing: 6px;
	}
	
	#innovation .three-lenses{
		font-size: 14px;
		letter-spacing: 6px;
	}
	
	#services-header .our-services::before,
	#services-header .our-services::after,
	#innovation .three-lenses::before,
	#innovation .three-lenses::after{
		width: 40px;
	}
	
	#why-it-works .project-onecolumn{
		padding: 70px 20px;
	}
	
	#why-it-works .onecolumn p{
		font-size: 16px;
	}
	
	#why-it-works .onecolumn h3{
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	
	div.column-left, 
	div.column-right, 
	div.text-small-left, 
	div.text-small-right, 
	div.text-wide-left, 
	div.text-wide-right,
	div.column-left-short,
	div.column-right-short,
	div.column-left-xshort,
	div.column-right-xshort,
	div.column-left-xwide,
	div.column-right-xwide,
	div.column-left-wider,
	div.column-right-wider,
	div.column-left-wide,
	div.column-right-wide{
		float: none  ;
		width: 93%  ;
		margin: 0 auto;
		min-height: 250px;
		height: auto  ;
		height: 250px;
	}
	
	#services-enablers .column-left-xshort,
	#services-enablers .column-right-xshort{
		text-align: center;
		margin-bottom: 30px;
		
		min-height: 100px;
		height: auto  ;
		height: 100px;
	}
	
	#services-enablers h2{
		text-align: center;
	}
	
	div.jobs-right{
		float: none  ;
		width: 93%  ;
		margin: 0 auto;
		min-height: 100px;
		height: auto  ;
		height: 100px;
	}
	
	div.intro-left, 
	div.intro-right,
	div.jobs-left{
		float: none  ;
		width: 93%  ;
		margin: 0 auto;
	}
		
	div#footer-buttons .btn {
		margin: 25px auto 0 auto  ;
	}
	
	div#content-holder {
		padding: 0;
	}
	.slide-icon {
		height: 160px;
	}
	.slide-icon img {
		width: auto;
		height: 150px;
	}
	.slide-text h1 {
		font-size: 30px;
	}
	.slide-text h3 {
		font-size: 18px;
	}
	div#footer-buttons .btn {
		margin: 25px auto 0 auto;
		width: 100%;
		text-align: center;
		font-size: 22px;
		padding: 15px 15px 15px 30px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 28px;
		-moz-border-radius: 28px;
		border-radius: 28px;
	}
	div.big-btn {
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
		border-radius: 60px;
	}
	div.big-btn a h2 {
		font-size: 32px;
	}
	div.welcome-title {
		padding: 40px 0 0 0;
	}
	div.welcome-title h1 {
		font-size: 40px;
	}
	div.read-more {
		padding: 40px 0 0 0;
	}
	/* iframe*/
		
	.project-video iframe, .project-video object, .project-video embed {
		height: 250px;
		width: 90%;
		margin: 0 auto;
	}
	div.project-animated {
		 height:auto  ;
	}
	div.project-animated img {
		max-width: 300px;
		 height:auto  ;
	}
	div.project-results .quote {
		padding: 100px 0;
	}
	div.half-right h2, div.half-left h2 {
		padding: 100px 35px;
		font-size: 20px;
	}
	div.feature-casestudy {
		line-height: 1.4em;
	}
	div.feature-casestudy-text {
		padding: 20px;
	}
	
	div.ourwork-half h3{
		font-size: 16px;
	}
	
	a.casestudy-link{
		font-size: 12px;
	}
	
	h3.casestudy-info{
		display: block  ;
		margin: 15px 0 0 0  ;
		font-size: 12px  ;
	}
	
	div.ourwork-info{
		background-color: rgba(0,0,0,0.3);
	}
	
	/*.fixed {
		height: 70px  ;
	}
	
	.fixed div#top{
		padding: 16px  0 0 0;
	}
	
	.nav-icon:after, .nav-icon:before, .nav-icon span {
  		margin: 9px 0;
	}
	
	div#menu {
  		height: 50px
	}*/
	 
}

@media (max-width: 400px) {
	
	.grid li h2 {
		padding-top: 18%  ;
		font-size: 36px  ;
	}
	
	
	div#faq h2{
		font-size: 46px;
		width: 260px;
		padding-top: 70px;
		height: 310px;
		margin: 0 auto;
		font-style: italic;
		line-height: 1.5em;
		text-align: center;
		color: #37424a;
		
		background: url(../images/services/ic_faq.svg); 
		background-position: center center;
		-webkit-background-size: 242px 296px;     
		-moz-background-size: 242px 296px;      
		-o-background-size:242px 296px;        
		background-size: 242px 296px;
		background-repeat: no-repeat; 
	}
	
	.faq-item {
		padding: 0 20px;
		box-sizing: border-box;
	}

	div#top {
		padding: 25px 0 0 0;
	}
	
	div#header{
		height: 80px;
	}
	
	div#wrapper {
		padding: 80px 0 0 0;
	}
	
	div#project-hero, 
	div.project-feat {
		overflow: hidden;
		height: 350px;
		text-align: center;
	}
	div.half-left {
		float: none  ;
		width: 100%  ;
		overflow: hidden;
		height: 350px;
		text-align: center;
	}
	div.ourwork-half div.half-left, 
	div.half-right {
		float: none  ;
		width: 100%  ;
		 height:auto  ;
	}
	div#project-hero img, 
	div.project-feat img {
		width: auto;
		height: 350px;
		left: 50%;
		margin-left: -125%;
		position: relative;
	}
}